extends ../../wrapper.pug

block title-page
	title Demo page - Framework

block main
	.container
		h2 Demo page
		

block append scripts-footer
		script(src="dest/js/components/sliders.min.js")
		script(src="dest/js/components/modals.min.js")
		script(src="dest/js/components/offcanvas.min.js")