extends ../../wrapper.pug

block title-page
	title Demo page - Framework

mixin article(id)
	.col-12.col-sm-6
		article.u-radius.u-border.u-border-lightgrey.u-p.u-h-100.u-d-flex.u-flex-column.u-shadow
			h3(id="titleArticle"+id) Article title
			.o-preserve-ratio.u-mb.u-nmr.u-nml
				img(src="https://picsum.photos/400/200", loading="lazy", alt="")
			p.u-fs-4.u-mb-0 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro aliquam vero, quidem error nisi quaerat, nobis rem eius. Quidem id numquam voluptate, vero delectus quibusdam. Necessitatibus quaerat architecto, ullam earum !
			.u-d-flex.u-flex-wrap.u-align-end.u-mt-a
				a(href="#", aria-labelledby="linkArticle"+id+" titleArticle"+id, class="c-btn c-btn--secondary c-btn--small u-mt") 
					svg(class="icon", aria-hidden="true")
						use(xlink:href="#icon-chevron-right")
					span Read more
					span(id="linkArticle"+id, hidden) Read more about
				time(datetime="PT10M", class="u-ml-a c-badge c-badge--light u-mt") 
					span.sr-only Temps de lecture : 10 minutes
					span(aria-hidden="true") 10m

block main
	section.u-bg-lightgrey.u-py-5
		.container.u-text-center
			.row.u-justify-center
				.col-12.col-md-10.col-lg-8.u-mb-0
					h2.h1-like Demo page
					p.u-fs-2 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis quo suscipit nisi in blanditiis at mollitia expedita nulla non laboriosam amet, perferendis, odio veritatis aut reprehenderit labore veniam architecto debitis?
					div
						a(href="#", class="c-btn c-btn--primary u-mx-1-2") Main action
						a(href="#", class="c-btn c-btn--primary c-btn--outline u-mx-1-2") Secondary action
	.container.u-py-2.u-py-md-5
		.row
			section.col-12.col-md-9
				h2.u-border-bottom.u-border-lightgrey.u-pb.u-mb-2 Articles
				.row
					+article('1')
					+article('2')
					+article('3')
					+article('4')
			aside.col-12.col-md-3
				h2.u-border-bottom.u-border-lightgrey.u-pb.u-mb-2 Annexe
				form(action="/", method="post", role="search")
					.form-group
						label(for="searchInput") Rechercher un article
						input(type="search", id="searchInput", name="searchInput")
					.form-group.u-text-right.u-mt-1-2
						button(type="submit", class="c-btn c-btn--primary") Soumettre

		

block append scripts-footer
		script(src="dest/js/components/sliders.min.js")
		script(src="dest/js/components/modals.min.js")
		script(src="dest/js/components/offcanvas.min.js")