extends ../../wrapper.pug

block title-page
	title Demo page - Framework

mixin post(id)
	.col-12.col-sm-6.col-md-12.col-lg-6
		article.radius.border.border-lightgrey.p.h-100.d-flex.flex-column.shadow
			h3(id="titlePost"+id) Post title
			.preserve-ratio.mb.nmr.nml
				img(src="https://picsum.photos/400/200", loading="lazy", alt="")
			p.fs-4.mb-0 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro aliquam vero, quidem error nisi quaerat, nobis rem eius. Quidem id numquam voluptate, vero delectus quibusdam. Necessitatibus quaerat architecto, ullam earum !
			.d-flex.flex-wrap.align-end.mt-a
				a(href="#", aria-labelledby="linkPost"+id+" titlePost"+id, class="btn btn--secondary btn--small mt") 
					svg(class="icon", aria-hidden="true")
						use(xlink:href="#icon-chevron-right")
					span(aria-hidden="true") Read more
					span(id="linkPost"+id, class="sr-only") Read more about
				time(datetime="PT10M", class="ml-a badge badge--light mt") 
					span.sr-only Reading time : 10 minutes
					span(aria-hidden="true") 10m

block main
	section.bg-lightgrey.py-5
		.container.text-center
			.row.justify-center
				.col-12.col-md-10.col-lg-8.mb-0
					h2.h1-like Demo page
					p.fs-2 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis quo suscipit nisi in blanditiis at mollitia expedita nulla non laboriosam amet, perferendis, odio veritatis aut reprehenderit labore veniam architecto debitis?
					div
						a(href="#", class="btn btn--primary mt mx-0.5") Main action
						a(href="#", class="btn btn--primary btn--outline mt mx-0.5") Secondary action
	.container.py-2.pt-md-4.pb-md-2
		.row
			section.col-12.col-md-8.col-lg-9.mb-md-0
				h2.border-bottom.border-lightgrey.pb.mb-2 Posts
				.row
					+post('1')
					+post('2')
					+post('3')
					+post('4')
			aside.col-12.col-md-4.col-lg-3.mb-md-0
				h2.border-bottom.border-lightgrey.pb.mb-2 Annexe
				section
					h3(class="p bg-lightgrey radius h5-like") Want more ?
					form(action="/", method="post", role="search")
						div(class="form-group")
							label(for="searchInput") Search a post
							input(type="search", id="searchInput", name="searchInput")
						div(class="form-group text-right mt-0.5")
							button(type="submit", class="btn btn--primary") Submit
				section.mt-2
					h3(id="recentsPostsTitle", class="p bg-lightgrey radius h5-like") Recents posts
					nav(aria-labelledby="recentsPostsTitle", class="nmt-0.5")
						ul.list-unstyled
							li
								a(href="#", class="py-0.5 d-block") Post title #3
							li
								a(href="#", class="py-0.5 d-block border-top border-lightgrey") Post title #2
							li
								a(href="#", class="py-0.5 d-block border-top border-lightgrey") Post title #1
				section.mt-2
					h3(id="contactUsTitle", class="p bg-lightgrey radius h5-like") Contact us
					address(aria-labelledby="contactUsTitle", class="nmt-0.5")
						a(href="mailto:", class="py-0.5 d-block")
							svg(class="icon mr", aria-hidden="true")
								use(xlink:href="#icon-envelop") 
							| admin@test.fr
						a(href="tel:", class="py-0.5 d-block border-top border-lightgrey")
							svg(class="icon mr", aria-hidden="true")
								use(xlink:href="#icon-user") 
							| (311) 444-3479



		

block append scripts-footer
		script(src="dest/js/components/sliders.min.js")
		script(src="dest/js/components/modals.min.js")
		script(src="dest/js/components/offcanvas.min.js")