$display-values: (
	'-none'         : 'none', 
	'-inline'       : 'inline',
	'-block'        : 'block',
	'-inline-block' : 'inline-block',
	'-flex'         : 'flex',
	'-inline-flex'  : 'inline-flex' );

@each $d-name, $d-value in($display-values) {
	.d#{$d-name} {
		display: #{$d-value} !important;
	}

	@each $name, $prefix in($grid-mq) {
		@include mq(map-get($mq, $name)) {
			.#{$prefix}\:d#{$d-name} {
				display: #{$d-value} !important;
			}
		}
	}
}
