$name-spacings: (
	'margin'  : 'm', 
	'padding' : 'p' );

$direction-spacings: (
	'-top'    : 't', 
	'-right'  : 'r',
	'-bottom' : 'b',
	'-left'   : 'l' );

$utility-spacings: (
	'-0'       : '0', 
	'-quarter' : 'var(--spacing-quarter)',
	'-third'   : 'var(--spacing-third)',
	'-half'    : 'var(--spacing-half)',
	''         : 'var(--spacing)',
	'-double'  : 'var(--spacing-double)',
	'-triple'  : 'var(--spacing-triple)',
	'-quad'    : 'var(--spacing-quad)',
	'-quint'   : 'var(--spacing-quint)' );

/** --------------------------------------------
 * 
 * Only one axis for padding & margin
 * 
 -------------------------------------------- */

@each $spacing, $sp in($name-spacings) {
	@each $direction, $dir in($direction-spacings) {
		@each $name, $value in($utility-spacings) {
			.u-#{$sp}#{$dir}#{$name} { #{$spacing}#{$direction}: #{$value} !important; }
			@each $bp, $prefix in($grid-mq) {
				@include mq(map-get($mq, $bp)) {
					.u-#{$sp}#{$dir}-#{$prefix}#{$name} {
						#{$spacing}#{$direction}: #{$value} !important;
					}
				}
			}
		}
	}
}

/** --------------------------------------------
 * 
 * Only one axis for margin but with negatives values
 * 
 -------------------------------------------- */
 
@each $direction, $dir in($direction-spacings) {
	@each $name, $value in($utility-spacings) {
		@if $value != '0' { 
			.u-nm#{$dir}#{$name} { margin#{$direction}: calc(#{$value} * -1) !important; }
			@each $bp, $prefix in($grid-mq) {
				@include mq(map-get($mq, $bp)) {
					.u-nm#{$dir}-#{$prefix}#{$name} {
						margin#{$direction}: calc(#{$value} * -1) !important;
					}
				}
			}
		}
	}
}

/** --------------------------------------------
 * 
 * Axis X, Y or both for padding & margin
 * 
 -------------------------------------------- */

@each $spacing, $sp in($name-spacings) {
	@each $name, $value in($utility-spacings) {
		.u-#{$sp}x#{$name} { 
			#{$spacing}-left: #{$value} !important;
			#{$spacing}-right: #{$value} !important; 
		}

		.u-#{$sp}y#{$name} { 
			#{$spacing}-top: #{$value} !important;
			#{$spacing}-bottom: #{$value} !important; 
		}

		.u-#{$sp}#{$name} { 
			#{$spacing}: #{$value} !important; 
		}

		@each $bp, $prefix in($grid-mq) {
			@include mq(map-get($mq, $bp)) {
				.u-#{$sp}x-#{$prefix}#{$name} { 
					#{$spacing}-left: #{$value} !important;
					#{$spacing}-right: #{$value} !important; 
				}

				.u-#{$sp}y-#{$prefix}#{$name} { 
					#{$spacing}-top: #{$value} !important;
					#{$spacing}-bottom: #{$value} !important; 
				}

				.u-#{$sp}-#{$prefix}#{$name} { 
					#{$spacing}: #{$value} !important; 
				}
			}
		}

	}
}

/** --------------------------------------------
 * 
 * auto value for only one axis, or axis X, Y (or both) for margin
 * 
 -------------------------------------------- */

@each $direction, $dir in($direction-spacings) {
	.u-m#{$dir}-a { margin#{$direction}: auto !important; }
	
	@each $bp, $prefix in($grid-mq) {
		@include mq(map-get($mq, $bp)) {
			.u-m#{$dir}-#{$prefix}-a {
				margin#{$direction}: auto !important;
			}
		}
	}
}

.u-mx-a {
	margin-right: auto !important;
	margin-left: auto !important;
}

.u-my-a {
	margin-top: auto !important;
	margin-bottom: auto !important;
}

.u-m-a {
	margin: auto !important;
}

@each $bp, $prefix in($grid-mq) {
	@include mq(map-get($mq, $bp)) {
		.u-mx-#{$prefix}-a {
			margin-right: auto !important;
			margin-left: auto !important;
		}

		.u-my-#{$prefix}-a {
			margin-top: auto !important;
			margin-bottom: auto !important;
		}

		.u-m-#{$prefix}-a {
			margin: auto !important;
		}
	}
}
