extends ../stylesguide.pug

block append vars
	- var sectionTitle = 'Patterns';

block content
	include slider.pug
	include accordion.pug
	include dropdown.pug
	include modal.pug
	include offcanvas.pug
	include tabs.pug
	include tooltip.pug