mixin modal(id, size, viewport, lightbox, snippet)
	dialog.p-modal(role="dialog", aria-labelledby="titleModal"+id, id="modal"+id, class={'js-snippet':snippet})
		- var sizeClass = '';
		- var viewportClass = '';
		if(size)
			- sizeClass = 'p-modal__dialog--'+size;
		if(viewport)
			- viewportClass = 'p-modal__dialog--viewport';
		if(lightbox)
			- lightboxClass = 'p-modal__dialog--lightbox';
		.p-modal__dialog.js-modal-stop(role="document", class=sizeClass+' '+viewportClass+' '+lightboxClass)
			.p-modal__content
				.p-modal__header
					h1(id="titleModal"+id, class="p-modal__title" class={'sr-only': lightbox}) Modal title
					button.p-modal__close.c-btn.js-modal-close(type="button", class={'c-btn--transparent': !lightbox, 'c-btn--white': lightbox})
						svg(class="icon")
							title Fermer cette fenêtre modale
							use(xlink:href="#icon-x")
				.p-modal__body
					if(lightbox)
						img(src="https://picsum.photos/1920/1200", srcset="https://picsum.photos/768/1200 768w, https://picsum.photos/1200/1200 1200w, https://picsum.photos/1920/1200 1920w", loading="lazy", alt="", width="1920", height="1200")
					else
						if(viewport)
							.u-mb.u-text-center
								img(src="../../../img/holy-placeholder.jpg", loading="lazy", alt="")
							p Carrot cake sweet roll topping. Jelly danish fruitcake cheesecake oat cake pastry. Jujubes apple pie cotton candy tootsie roll toffee jelly-o jujubes. Carrot cake dessert sweet gummi bears ice cream gummi bears sesame snaps cake. Bonbon liquorice jelly. Liquorice <a href="#">link</a> bonbon. Chocolate bar ice cream dragée. Bear claw cotton candy sugar plum. Pudding carrot cake tiramisu soufflé tart tootsie roll jujubes. Tart bear claw topping jelly beans chocolate jujubes. Chupa chups powder muffin chocolate cake caramels halvah marzipan wafer. Sweet ice cream tootsie roll dragée. 
							p Pie bear claw cheesecake toffee. Sweet jelly chocolate bar soufflé. Croissant tootsie roll cotton candy sweet powder pudding icing cake. Apple pie jelly-o bonbon. Croissant cake ice cream chocolate bar croissant. Cotton candy chocolate tiramisu topping dessert tiramisu soufflé ice cream oat cake. Candy topping gummi bears jelly beans apple pie. Lemon drops bear claw sugar plum lemon drops. Chocolate muffin gingerbread. Muffin marzipan chocolate gummies toffee muffin cotton candy tart pastry. Caramels liquorice macaroon chocolate cake lemon drops. Donut liquorice pastry toffee. Chocolate brownie ice cream candy. Lemon drops soufflé carrot cake jujubes oat cake jelly-o.
							p Jelly beans chupa chups macaroon wafer danish oat cake oat cake cotton candy. Caramels pie jelly-o fruitcake. Fruitcake macaroon tart gingerbread candy icing. Sugar plum topping powder chocolate cake liquorice liquorice. Danish caramels soufflé cookie halvah lemon drops cake tiramisu. Chocolate cake sweet roll caramels jelly beans sesame snaps chupa chups. Tootsie roll donut gummi bears chocolate cake marshmallow. Tart toffee jujubes. Biscuit cheesecake wafer apple pie chocolate bar. Tootsie roll macaroon wafer toffee. Lollipop oat cake icing lollipop tootsie roll pastry icing bonbon tart. Icing biscuit gummi bears pudding. Icing soufflé cake marshmallow tart croissant soufflé tootsie roll jelly-o.
							p Sweet roll donut jujubes gingerbread pudding. Donut marshmallow croissant sweet brownie tootsie roll. Chocolate bar cake bear claw bonbon halvah. Jelly-o candy canes muffin jelly-o jelly sweet. Bonbon cheesecake caramels topping. Chupa chups macaroon donut. Sugar plum apple pie dessert tiramisu donut powder toffee macaroon. Chocolate bar lemon drops macaroon. Powder chocolate bar cotton candy pastry muffin chupa chups jelly-o sweet. Candy chocolate wafer tootsie roll soufflé sesame snaps. Carrot cake bonbon pastry topping. Cupcake marzipan dragée sweet roll.
							p Tart fruitcake marzipan candy fruitcake. Sugar plum marzipan topping. Chocolate bar icing oat cake apple pie jelly beans. Cupcake sesame snaps wafer tiramisu cheesecake apple pie lemon drops dragée chocolate. Sesame snaps biscuit danish jelly cheesecake jujubes dragée candy. Muffin cookie muffin pastry pie donut. Pastry marzipan halvah jelly beans sweet caramels gummi bears. Halvah cupcake jelly beans bonbon fruitcake jelly-o jelly. Pie sweet roll chocolate soufflé marzipan bear claw. Cookie dessert bear claw tootsie roll dessert. Sugar plum bear claw croissant. Apple pie topping wafer toffee wafer.
						else
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo modi velit incidunt accusantium architecto dicta <a href="#">link</a> impedit iste fugit quis illum amet voluptas nostrum, dolorem, deleniti sit magnam inventore beatae nemo!
						div
							label(for="demoInputModal"+id) Label
							input(type="text", id="demoInputModal"+id)
				if(!lightbox)
					.p-modal__footer 
						button(type="button", class="c-btn c-btn--error c-btn--outline js-modal-close") Fermer
						button(type="button", class="c-btn c-btn--primary") Button 

section.section.js-menu#Modals
	.row.js-parent-snippet.u-mb
		.col-12
			h1.section__title Modals
		.col-12
			h2 Default
		.col-12
			button(type="button", class="c-btn c-btn--primary js-modal js-snippet", data-modal-id="modal1", aria-haspopup="dialog") Open modal (plain text)
			+modal('1', 'medium', false, false, true)
	.row.js-parent-snippet.u-mb
		.col-12
			h2 Sizes
		.col-auto
			button(type="button", class="c-btn c-btn--primary js-modal", data-modal-id="modal2", aria-haspopup="dialog") Small
			+modal('2', 'small', false, false, true)
		.col-auto
			button(type="button", class="c-btn c-btn--primary js-modal", data-modal-id="modal3", aria-haspopup="dialog") Large
			+modal('3', 'large')
		.col-auto
			button(type="button", class="c-btn c-btn--primary js-modal", data-modal-id="modal4", aria-haspopup="dialog") Large-plus
			+modal('4', 'large-plus')
		.col-auto
			button(type="button", class="c-btn c-btn--primary js-modal", data-modal-id="modal5", aria-haspopup="dialog") Fullscreen
			+modal('5')
	.row.js-parent-snippet.u-mb
		.col-12
			h2 Viewport height
		.col-auto
			button(type="button", class="c-btn c-btn--primary js-modal", data-modal-id="modal6", aria-haspopup="dialog") Open modal
			+modal('6', 'medium', true, false, true)
	.row.js-parent-snippet
		.col-12
			h2 Lightbox
		.col-auto
			button(type="button", class="c-btn c-btn--primary js-modal", data-modal-id="modal7", aria-haspopup="dialog") Open image in fullscreen modal
			+modal('7', '', false, true, true)
		.col-auto
			button(type="button", class="c-btn c-btn--primary js-modal", data-modal-id="modal8", aria-haspopup="dialog") Open image in medium modal
			+modal('8', 'medium', false, true, true)