mixin slide(img)
	.p-slider__item
		.u-bg-lightgrey.u-p.u-h-100
			if(img) 
				img(src="https://picsum.photos/400/200", loading="lazy", class="u-mb-1-2" , alt="") 
			| Lorem ipsum dolor sit, amet <a href="#">consectetur adipisicing</a> elit. Necessitatibus error, dicta voluptas numquam, vero accusantium dignissimos.

mixin pagination-item
	button(type="button")

section.section.js-menu#Slider
	.row
		.col-12
			h3.section__title Slider
		.col-12
			.u-bg-lightgrey.u-p 
				p <b>Notes :</b>
				ul
					li Repo Github : <a href="https://github.com/ganlanyuan/tiny-slider/" target="_blank" rel="noopener">github.com/ganlanyuan/tiny-slider</a>
					li Options : <a href="http://ganlanyuan.github.io/tiny-slider/#options" target="_blank" rel="noopener">ganlanyuan.github.io/tiny-slider</a>
					li Demo : <a href="http://ganlanyuan.github.io/tiny-slider/demo/" target="_blank" rel="noopener">ganlanyuan.github.io/tiny-slider/demo</a>
					li La pagination et les contrôles se n'affichent pas s'il n'y a pas plus d'une seule slide.
					li Avec l'option <code>onInit</code>, prévoir un loader ou un placeholder pendant l'init du slider. Par défaut, sa propriété <code>display</code> passe de <code>none</code> à <code>block</code>.
	.row.js-parent-snippet
		.col-12
			.p-slider.js-slider-demo.js-snippet
				.p-slider__content
					+slide(true)
					+slide
					+slide
					+slide
					+slide
				.p-slider__controls(tabindex="-1")
					button(type="button", class="c-btn c-btn--primary c-btn--rounded c-btn--small p-slider__control p-slider__control--prev") 
						svg(class="icon")
							title Slide précédente
							use(xlink:href="#icon-chevron-left")
					button(type="button", class="c-btn c-btn--primary c-btn--rounded c-btn--small p-slider__control p-slider__control--next")
						svg(class="icon")
							title Slide suivante
							use(xlink:href="#icon-chevron-right")
	.row
		details(class="toggle-code")
			summary Toggle script
			pre
				code(class="language-js")
					| var demoSlider = document.querySelector('.js-slider-demo');
					| 
					| if(demoSlider) {
					| 
					|     tns({
					|         container: demoSlider.querySelector('.p-slider__content'),
					|         items: 1,
					|         slideBy: 'page',
					|         nav: 'true',
					|         navPosition: 'bottom',
					|         controlsContainer: demoSlider.querySelector('.p-slider__controls'),
					|         arrowKeys: true, 
					|         autoplayButtonOutput: false,
					|         loop: false,
					|         responsive: {
					|             576: {
					|                 items: 2,
					|                 gutter: baseFontSize * getComputedStyle(html).getPropertyValue('--sp-unitless')
					|             },
					|             1200: {
					|                 items: 3
					|             }
					|         },
					|         preventScrollOnTouch: 'auto',
					|         onInit: function() {
					|             demoSlider.style.display = 'block';
					|         }
					|     });
					| 
					| }