section.section.js-menu#Steps
	.row.js-parent-snippet
		.col-12
			h1.section__title Steps thread
		.col-12
			h2 Classic
		.col-12
			section.p-steps-thread
				.p-steps-thread__content
					article.p-steps-thread__item
						span.p-steps-thread__bubble
						header.p-steps-thread__title Titre d'étape vraiment très long
						p Lorem ipsum, dolor sit amet consectetur.
					article.p-steps-thread__item
						span.p-steps-thread__bubble
						header.p-steps-thread__title Kokoro
						p Suscipit laborum harum, obcaecati voluptatum fugit maiores.
					article.p-steps-thread__item
						span.p-steps-thread__bubble
						header.p-steps-thread__title Schnaps 
						p Lorem ipsum, dolor sit amet consectetur, adipisicing elit.
		.col-12
			h2 Alternative
		.col-12
			section.p-steps-thread.p-steps-thread--alternative
				ol.p-steps-thread__content.list-unstyled
					li.p-steps-thread__item
						a(href="#")
							.p-steps-thread__bubble
								svg(class="icon", aria-hidden="true")
									use(xlink:href="#icon-check")
							| Votre style déco
					li.p-steps-thread__item.active
						a(href="#")
							.p-steps-thread__bubble
								svg(class="icon", aria-hidden="true")
									use(xlink:href="#icon-unlocked")
							| Vos attentes
					li.p-steps-thread__item
						.p-steps-thread__bubble
							svg(class="icon", aria-hidden="true")
								use(xlink:href="#icon-locked")
						| Votre pièce actuelle
					li.p-steps-thread__item
						.p-steps-thread__bubble
							svg(class="icon", aria-hidden="true")
								use(xlink:href="#icon-locked")
						| Vous identifier
					li.p-steps-thread__item
						.p-steps-thread__bubble
							svg(class="icon", aria-hidden="true")
								use(xlink:href="#icon-locked")
						| Récap. et paiement
