mixin tab(position)
	li.js-tablist__item
		a(href="#tab"+position, class="c-btn c-btn--white js-tablist__link")= 'Tab #'+position

mixin tabContent(position)
	.js-tabcontent(id="tab"+position)
		h2= 'Tab title #'+position
		p 
			| Lorem ipsum dolor sit, 
			a(href="#") amet consectetur
			|  	adipisicing elit. Necessitatibus error, dicta voluptas numquam, vero accusantium dignissimos. Autem enim beatae eos culpa quia labore quo iusto. Doloremque, optio necessitatibus possimus praesentium?

section.section.js-menu#Tabs
	.row.js-parent-snippet
		.col-12
			h1.section__title Tabs		
		.col-12
			.u-bg-lightgrey.u-p 
				p 
					b Notes :
				ul
					li 
							| Si pas de <code>code hx 
							|  dans le contenu, ajouter l’attribut 
							code data-existing-hx="h2"
							|  à l’élément 
							code .js-tabs
							| .
		.col-12
			.js-tabs.js-snippet(data-tabs-prefix-class="p")
				ul.list-unstyled.js-tablist
					+tab('1')
					+tab('2')
					+tab('3')
				+tabContent('1')
				+tabContent('2')
				+tabContent('3')