mixin tab(position)
	li.js-tablist__item
		a(href="#tab"+position, class="btn btn--white js-tablist__link")= 'Tab #'+position

mixin tabContent(position)
	.js-tabcontent(id="tab"+position)
		h4(tabindex="0")= 'Tab title #'+position
		p 
			| Lorem ipsum dolor sit, 
			a(href="#") amet consectetur
			|  	adipisicing elit. Necessitatibus error, dicta voluptas numquam, vero accusantium dignissimos. Autem enim beatae eos culpa quia labore quo iusto. Doloremque, optio necessitatibus possimus praesentium?

section.section.js-menu#Tabs
	.row.js-parent-snippet
		.col-12
			h3.section__title Tabs		
		.col-12
			.bg-grey-lightest.p 
				p 
					b Notes :
				ul
					li 
							| If there is not 
							code hx 
							|  in the content, add 
							code data-hx="hx"
							|  to 
							code .js-tabs
							| .
		.col-12
			.js-tabs.js-snippet
				ul.list-unstyled.js-tablist
					+tab('1')
					+tab('2')
					+tab('3')
				+tabContent('1')
				+tabContent('2')
				+tabContent('3')