section.section.js-menu#Tooltips
	div(class="row")
		.col-12
			h3.section__title Tooltips
	div(class="row js-parent-snippet mb")
		.col-12 
			h4 Default (top)
		div(class=" col-12 sm:col-4")
			h5 Link
			p
				a(href="#", class="tooltip js-simple-tooltip", data-simpletooltip-text="Hey Link !") I am a link
		div(class=" col-12 sm:col-4")
			h5 Input
			.form-group
				label(for="demoTooltipInput") Label
				input(type="text", id="demoTooltipInput" class="tooltip js-simple-tooltip", data-simpletooltip-text="Hello !")
		div(class=" col-12 sm:col-4")
			h5 Button
			button(type="button", class="btn btn--primary btn--small tooltip js-simple-tooltip js-snippet", data-simpletooltip-text="desc", aria-label="Fermer")
				svg.icon(aria-hidden="true")
					use(xlink:href="#icon-x")
	div(class="row js-parent-snippet mb")
		.col-12 
			h4 Others directions
		div(class=" col-12 sm:col-6 lg:col-3")
			h5 Bottom
			button(type="button", class="btn btn--primary tooltip tooltip--bottom js-simple-tooltip js-snippet", data-simpletooltip-text="Tooltip content") Bottom
		div(class=" col-12 sm:col-6 lg:col-3")
			h5 Left
			button(type="button", class="btn btn--primary tooltip tooltip--left js-simple-tooltip", data-simpletooltip-text="Tooltip content") Left
		div(class=" col-12 sm:col-6 lg:col-3")
			h5 Right
			button(type="button", class="btn btn--primary tooltip tooltip--right js-simple-tooltip", data-simpletooltip-text="Tooltip content") Right
	div(class="row js-parent-snippet mb-0.5")
		.col-12 
			h4 Responsive
		.col-12
			h5 Right, then top at medium MQ
			button(type="button", class="btn btn--primary tooltip tooltip--right tooltip--top-mq js-simple-tooltip js-snippet", data-simpletooltip-text="Tooltip content") Button
		.col-12
			h5 Top, then bottom at medium MQ
			button(type="button", class="btn btn--primary tooltip tooltip--bottom-mq js-simple-tooltip js-snippet", data-simpletooltip-text="Tooltip content") Button
