section.section.js-menu#Tooltips
	.row
		.col-12
			h1.section__title Tooltips
	.row.js-parent-snippet.u-mb-half
		.col-12.col-sm-6.col-md-3
			h2 Text
			p
				| Lorem ipsum 
				span.p-tooltip.p-tooltip--block.js-simple-tooltip.js-snippet(tabindex="0", data-simpletooltip-text="Mollitia, labore! Nesciunt quibusdam, accusantium quam similique consequuntur eum, impedit, ex ea nobis hic, delectus numquam minima ab sapiente at.") dolor sit amet consectetur
				|  quibusdam quam.
		.col-12.col-sm-6.col-md-3
			h2 Link
			p
				a(href="#", class="p-tooltip js-simple-tooltip", data-simpletooltip-text="Hey Link !") I am a link
		.col-12.col-sm-6.col-md-3
			h2 Input
			.form-group
				label(for="demoTooltipInput") Label
				input(type="text", id="demoTooltipInput" class="p-tooltip js-simple-tooltip", data-simpletooltip-text="Hello !")
		.col-12.col-sm-6.col-md-3
			h2 Button
			button(type="button", class="c-btn c-btn--primary c-btn--small p-tooltip js-simple-tooltip js-snippet", data-simpletooltip-text="Fermer", aria-label="Fermer")
				svg.icon(aria-hidden="true")
					use(xlink:href="#icon-x")