section.section.js-menu#Badges
	.row
		.col-12
			h3.section__title Badges
	.row.js-parent-snippet.mb
		div(class="col mb-0.5")
			h4 Standard
			span(class="badge badge--primary mr-0.5 mb-0.5 js-snippet") Primary
			span(class="badge badge--secondary mr-0.5 mb-0.5") Secondary
			span(class="badge badge--success mr-0.5 mb-0.5") Success
			span(class="badge badge--error mr-0.5 mb-0.5") Error
			span(class="badge badge--light mr-0.5 mb-0.5") Light
			span(class="badge badge--dark mr-0.5 mb-0.5") Dark
			span(class="badge badge--primary mr-0.5 mb-0.5") 1
			span(class="badge badge--primary mr-0.5 mb-0.5") 10
			span(class="badge badge--primary mr-0.5 mb-0.5", aria-label="text", role="img")
				svg(class="icon", aria-hidden="true")
					use(xlink:href="#icon-check")
	.row.js-parent-snippet.mb
		div(class="col mb-0.5")
			h4 Pill
			span(class="badge badge--pill badge--primary mr-0.5 mb-0.5 js-snippet") Primary
			span(class="badge badge--pill badge--primary mr-0.5 mb-0.5") 1
			span(class="badge badge--pill badge--primary mr-0.5 mb-0.5") 10
			span(class="badge badge--pill badge--primary mr-0.5 mb-0.5", aria-label="text", role="img")
				svg(class="icon", aria-hidden="true")
					use(xlink:href="#icon-check")
	.row.js-parent-snippet
		div(class="col mb-0.5")
			h4 Pastille
			button(type="button", class="btn btn--primary pos-relative mr-0.5 mb-0.5 js-snippet", aria-describedby="idPastille") 
				| Messages
				span(class="badge badge--abs badge--dark", aria-hidden="true") 1 
				span(id="idPastille", hidden) 1 unread message
