section.section.js-menu#Badges
	.row
		.col-12
			h3.section__title Badges
	.row.js-parent-snippet.mb
		.col.mb-1-2
			h4 Standard
			span(class="badge badge--primary mr-1-2 mb-1-2 js-snippet") Primary
			span(class="badge badge--secondary mr-1-2 mb-1-2") Secondary
			span(class="badge badge--success mr-1-2 mb-1-2") Success
			span(class="badge badge--error mr-1-2 mb-1-2") Error
			span(class="badge badge--light mr-1-2 mb-1-2") Light
			span(class="badge badge--dark mr-1-2 mb-1-2") Dark
			span(class="badge badge--primary mr-1-2 mb-1-2") 1
			span(class="badge badge--primary mr-1-2 mb-1-2") 10
			span(class="badge badge--primary mr-1-2 mb-1-2")
				svg(class="icon")
					title Text
					use(xlink:href="#icon-check")
	.row.js-parent-snippet.mb
		.col.mb-1-2
			h4 Pill
			span(class="badge badge--pill badge--primary mr-1-2 mb-1-2 js-snippet") Primary
			span(class="badge badge--pill badge--primary mr-1-2 mb-1-2") 1
			span(class="badge badge--pill badge--primary mr-1-2 mb-1-2") 10
			span(class="badge badge--pill badge--primary mr-1-2 mb-1-2")
				svg(class="icon")
					title Text
					use(xlink:href="#icon-check")
	.row.js-parent-snippet
		.col.mb-1-2
			h4 Pastille
			button(type="button", class="btn btn--primary pos-relative mr-1-2 mb-1-2 js-snippet", aria-describedby="idPastille") 
				| Messages
				span(id="idPastille", class="badge badge--abs badge--dark") 1 <span class="sr-only">unread message</span>
