section.section.js-menu#Badges
	.row
		.col-12
			h3.section__title Badges
	.row.js-parent-snippet.u-mb
		.col.u-mb-1-2
			h4 Standard
			span(class="c-badge c-badge--primary u-mr-1-2 u-mb-1-2 js-snippet") Primary
			span(class="c-badge c-badge--secondary u-mr-1-2 u-mb-1-2") Secondary
			span(class="c-badge c-badge--success u-mr-1-2 u-mb-1-2") Success
			span(class="c-badge c-badge--error u-mr-1-2 u-mb-1-2") Error
			span(class="c-badge c-badge--light u-mr-1-2 u-mb-1-2") Light
			span(class="c-badge c-badge--dark u-mr-1-2 u-mb-1-2") Dark
			span(class="c-badge c-badge--primary u-mr-1-2 u-mb-1-2") 1
			span(class="c-badge c-badge--primary u-mr-1-2 u-mb-1-2") 10
			span(class="c-badge c-badge--primary u-mr-1-2 u-mb-1-2")
				svg(class="icon")
					title Text
					use(xlink:href="#icon-check")
	.row.js-parent-snippet.u-mb
		.col.u-mb-1-2
			h4 Pill
			span(class="c-badge c-badge--pill c-badge--primary u-mr-1-2 u-mb-1-2 js-snippet") Primary
			span(class="c-badge c-badge--pill c-badge--primary u-mr-1-2 u-mb-1-2") 1
			span(class="c-badge c-badge--pill c-badge--primary u-mr-1-2 u-mb-1-2") 10
			span(class="c-badge c-badge--pill c-badge--primary u-mr-1-2 u-mb-1-2")
				svg(class="icon")
					title Text
					use(xlink:href="#icon-check")
	.row.js-parent-snippet
		.col.u-mb-1-2
			h4 Pastille
			button(type="button", class="c-btn c-btn--primary u-pos-relative u-mr-1-2 u-mb-1-2 js-snippet", aria-describedby="idPastille") 
				| Messages
				span(id="idPastille", class="c-badge c-badge--abs c-badge--dark") 1 <span class="sr-only">unread message</span>
