section.section.js-menu#Breadcrumb
	.row.js-parent-snippet
		.col-12
			h3.section__title Breadcrumb
		.col-12
			.bg-lightgrey.p 
				p <b>Notes :</b>
				ul
					li Si l'utilisation de <code>nav</code> n'est pas possible : ajouter <code>role="navigation"</code> sur le conteneur ou sur l'élément <code>ol</code>.
		div(class="col-12 mb-0.5")
			nav(aria-label="Fil d'ariane", class="breadcrumb")
				ol.breadcrumb__list
					li.breadcrumb__item
						a(href="#", class="breadcrumb__link") Homepage
					li.breadcrumb__item
						a(href="#", class="breadcrumb__link", aria-current="page") Brand
		div(class="col-12 mb-0.5")
			nav(aria-label="Fil d'ariane", class="breadcrumb")
				ol.breadcrumb__list
					li.breadcrumb__item
						a(href="#", class="breadcrumb__link") Homepage
					li.breadcrumb__item
						a(href="#", class="breadcrumb__link") Brand
					li.breadcrumb__item
						a(href="#", class="breadcrumb__link", aria-current="page") Category
		div(class="col-12 mb-0.5")
			nav(aria-label="Fil d'ariane", class="breadcrumb")
				ol.breadcrumb__list
					li.breadcrumb__item
						a(href="#", class="breadcrumb__link") Homepage
					li.breadcrumb__item
						a(href="#", class="breadcrumb__link") Brand
					li.breadcrumb__item
						a(href="#", class="breadcrumb__link") Category
					li.breadcrumb__item
						a(href="#", class="breadcrumb__link", aria-current="page") Product
		.col-12
			nav(aria-label="Fil d'ariane", class="breadcrumb js-snippet")
				ol.breadcrumb__list
					li.breadcrumb__item
						a(href="#", class="breadcrumb__link") 
							svg(class="icon breadcrumb__icon", aria-hidden="true")
								use(xlink:href="#icon-home")
							| Homepage
					li.breadcrumb__item
						a(href="#", class="breadcrumb__link") 
							svg(class="icon breadcrumb__icon", aria-hidden="true")
								use(xlink:href="#icon-image")
							| Brand
					li.breadcrumb__item
						a(href="#", class="breadcrumb__link") 
							svg(class="icon breadcrumb__icon", aria-hidden="true")
								use(xlink:href="#icon-tag")
							| Category
					li.breadcrumb__item
						a(href="#", class="breadcrumb__link", aria-current="page") 
							svg(class="icon breadcrumb__icon", aria-hidden="true")
								use(xlink:href="#icon-cart")
							| Product
	.row
		details.toggle-code
			summary Toggle linked data
			pre.bg-lightgrey.p
				code.bg-transparent
					|{
					|  "@context": "https://schema.org",
					|  "@type": "BreadcrumbList",
					|  "itemListElement": [{
					|    "@type": "ListItem",
					|    "position": 1,
					|    "name": "Homepage",
					|    "item": "https://........................"
					|  }, {
					|    "@type": "ListItem",
					|    "position": 2,
					|    "name": "Brand",
					|    "item": "https://........................"
					|  },{
					|    "@type": "ListItem",
					|    "position": 3,
					|    "name": "Category",
					|    "item": "https://........................"
					|  },{
					|    "@type": "ListItem",
					|    "position": 4,
					|    "name": "Product",
					|    "item": "https://........................"
					|  }]
					|}