mixin icon(text)
	if(text)
		svg(class="icon")
			title text
			use(xlink:href="#icon-x")
	else
		svg(class="icon", aria-hidden="true")
			use(xlink:href="#icon-x")

section.section.js-menu#Buttons
	.row
		.col-12
			h1.section__title Buttons
		.col-12.col-md-6.u-d-flex.u-flex-column.js-parent-snippet
			.u-mb-a
				h2 Plain
				a(href="#", class="c-btn c-btn--primary u-mr u-mb") Base link
				input(type="submit", class="c-btn c-btn--primary u-mr u-mb", value="Input submit")
				button(type="button", class="c-btn c-btn--primary u-mr u-mb js-snippet") Button
		.col-12.col-md-6.u-d-flex.u-flex-column.js-parent-snippet
			.u-mb-a
				h2 Expanded
				button(type="button", class="c-btn c-btn--primary c-btn--block u-mb js-snippet") Expanded
		.col-12.col-md-6.u-d-flex.u-flex-column.js-parent-snippet
			.u-mb-a.js-snippet
				h2 Colors
				button(type="button", class="c-btn c-btn--primary u-mr u-mb") Primary
				button(type="button", class="c-btn c-btn--secondary u-mr u-mb") Secondary
				button(type="button", class="c-btn c-btn--error u-mr u-mb") Error
				button(type="button", class="c-btn c-btn--success u-mr u-mb") Success
				button(type="button", class="c-btn c-btn--white u-mr u-mb") White
				button(type="button", class="c-btn c-btn--light u-mr u-mb") Light
				button(type="button", class="c-btn c-btn--dark u-mr u-mb") Dark
				button(type="button", class="c-btn c-btn--transparent u-mr u-mb") Transparent
		.col-12.col-md-6.u-d-flex.u-flex-column.js-parent-snippet
			.u-mb-a.js-snippet
				h2 Outline
				button(type="button", class="c-btn c-btn--outline c-btn--primary u-mr u-mb") Primary
				button(type="button", class="c-btn c-btn--outline c-btn--secondary u-mr u-mb") Secondary
				button(type="button", class="c-btn c-btn--outline c-btn--error u-mr u-mb") Error
				button(type="button", class="c-btn c-btn--outline c-btn--success u-mr u-mb") Success
				button(type="button", class="c-btn c-btn--outline c-btn--light u-mr u-mb") Light
				button(type="button", class="c-btn c-btn--outline c-btn--dark u-mr u-mb") Dark
		.col-12.col-md-6.u-d-flex.u-flex-column.js-parent-snippet
			.u-mb-a.js-snippet
				h2 Disabled
				button(type="button", class="c-btn c-btn--primary u-mr u-mb", disabled) Button
				a(href="#", class="c-btn c-btn--white u-mr u-mb disabled", aria-disabled="true") Base Link
				button(type="button", class="c-btn c-btn--outline c-btn--primary u-mr u-mb", disabled) Button outline
		.col-12.col-md-6.u-d-flex.u-flex-column.js-parent-snippet
			.u-mb-a.js-snippet
				h2 Rounded
				button(type="button", class="c-btn c-btn--primary c-btn--rounded u-mr u-mb") Rounded
				button(type="button", class="c-btn c-btn--primary c-btn--rounded u-mr u-mb") 
					+icon
					span Rounded
				button(type="button", class="c-btn c-btn--primary c-btn--rounded c-btn--icon-only u-mr u-mb")
					+icon(true)
		.col-12.col-md-6.u-d-flex.u-flex-column.js-parent-snippet.u-mb-md-0
			.u-mb-a.js-snippet
				h2 With icons
				button(type="button", class="c-btn c-btn--primary u-mr u-mb")
					+icon
					span Button
				button(type="button", class="c-btn c-btn--primary u-mr u-mb") 
					span Button
					+icon
				button(type="button", class="c-btn c-btn--outline c-btn--primary u-mr u-mb") 
					+icon
					span Button
				a(href="#", class="c-btn c-btn--white u-mr u-mb") 
					+icon
					span Button
				button(type="button", class="c-btn c-btn--primary u-mr u-mb")
					+icon
					span Button
				button(type="button", class="c-btn c-btn--primary u-mr u-mb")
					+icon(true)
				button(type="button", class="c-btn c-btn--primary c-btn--outline u-mr u-mb")
					+icon(true)
		.col-12.col-md-6.u-d-flex.u-flex-column.js-parent-snippet.u-mb-0
			.u-mb-a.js-snippet
				h2 Sizes
				button(type="button", class="c-btn c-btn--dark c-btn--small u-mr u-mb")
					+icon(true)
				button(type="button", class="c-btn c-btn--dark c-btn--small u-mr u-mb") Small
				button(type="button", class="c-btn c-btn--dark c-btn--small u-mr u-mb")
					+icon
					span Small
				button(type="button", class="c-btn c-btn--primary u-mr u-mb") Normal
				button(type="button", class="c-btn c-btn--primary u-mr u-mb")
					+icon(true)
				button(type="button", class="c-btn c-btn--primary u-mr u-mb")
					+icon
					span Normal
				button(type="button", class="c-btn c-btn--dark c-btn--large u-mr u-mb")
					+icon('demoBtn6')
				button(type="button", class="c-btn c-btn--dark c-btn--large u-mr u-mb") Large
				button(type="button", class="c-btn c-btn--dark c-btn--large u-mr u-mb")
					+icon
					span Large