mixin icon(text)
	if(text)
		svg(class="icon")
			title text
			use(xlink:href="#icon-x")
	else
		svg(class="icon", aria-hidden="true")
			use(xlink:href="#icon-x")

section.section.js-menu#Buttons
	.row
		.col-12
			h3.section__title Buttons
		.col-12.col-md-6.d-flex.flex-column.js-parent-snippet
			.mb-a
				h4 Plain
				a(href="#", class="btn btn--primary mr mb") Base link
				input(type="submit", class="btn btn--primary mr mb", value="Input submit")
				button(type="button", class="btn btn--primary mr mb js-snippet") Button
		.col-12.col-md-6.d-flex.flex-column.js-parent-snippet
			.mb-a
				h4 Expanded
				button(type="button", class="btn btn--primary btn--block mb js-snippet") Expanded
		.col-12.col-md-6.d-flex.flex-column.js-parent-snippet
			.mb-a.js-snippet
				h4 Colors
				button(type="button", class="btn btn--primary mr mb") Primary
				button(type="button", class="btn btn--secondary mr mb") Secondary
				button(type="button", class="btn btn--error mr mb") Error
				button(type="button", class="btn btn--success mr mb") Success
				button(type="button", class="btn btn--white mr mb") White
				button(type="button", class="btn btn--light mr mb") Light
				button(type="button", class="btn btn--dark mr mb") Dark
				button(type="button", class="btn btn--transparent mr mb") Transparent
		.col-12.col-md-6.d-flex.flex-column.js-parent-snippet
			.mb-a.js-snippet
				h4 Outline
				button(type="button", class="btn btn--outline btn--primary mr mb") Primary
				button(type="button", class="btn btn--outline btn--secondary mr mb") Secondary
				button(type="button", class="btn btn--outline btn--error mr mb") Error
				button(type="button", class="btn btn--outline btn--success mr mb") Success
				button(type="button", class="btn btn--outline btn--light mr mb") Light
				button(type="button", class="btn btn--outline btn--dark mr mb") Dark
		.col-12.col-md-6.d-flex.flex-column.js-parent-snippet
			.mb-a.js-snippet
				h4 Disabled
				button(type="button", class="btn btn--primary mr mb", disabled) Button
				a(href="#", class="btn btn--white mr mb disabled", aria-disabled="true") Base Link
				button(type="button", class="btn btn--outline btn--primary mr mb", disabled) Button outline
		.col-12.col-md-6.d-flex.flex-column.js-parent-snippet
			.mb-a.js-snippet
				h4 Rounded
				button(type="button", class="btn btn--primary btn--rounded mr mb") Rounded
				button(type="button", class="btn btn--primary btn--rounded mr mb") 
					+icon
					span Rounded
				button(type="button", class="btn btn--primary btn--rounded btn--icon-only mr mb")
					+icon(true)
		.col-12.col-md-6.d-flex.flex-column.js-parent-snippet.mb-md-0
			.mb-a.js-snippet
				h4 With icons
				button(type="button", class="btn btn--primary mr mb")
					+icon
					span Button
				button(type="button", class="btn btn--primary mr mb") 
					span Button
					+icon
				button(type="button", class="btn btn--outline btn--primary mr mb") 
					+icon
					span Button
				a(href="#", class="btn btn--white mr mb") 
					+icon
					span Button
				button(type="button", class="btn btn--primary mr mb")
					+icon
					span Button
				button(type="button", class="btn btn--primary mr mb")
					+icon(true)
				button(type="button", class="btn btn--primary btn--outline mr mb")
					+icon(true)
		.col-12.col-md-6.d-flex.flex-column.js-parent-snippet.mb-0
			.mb-a.js-snippet
				h4 Sizes
				button(type="button", class="btn btn--dark btn--small mr mb")
					+icon(true)
				button(type="button", class="btn btn--dark btn--small mr mb") Small
				button(type="button", class="btn btn--dark btn--small mr mb")
					+icon
					span Small
				button(type="button", class="btn btn--primary mr mb") Normal
				button(type="button", class="btn btn--primary mr mb")
					+icon(true)
				button(type="button", class="btn btn--primary mr mb")
					+icon
					span Normal
				button(type="button", class="btn btn--dark btn--large mr mb")
					+icon('demoBtn6')
				button(type="button", class="btn btn--dark btn--large mr mb") Large
				button(type="button", class="btn btn--dark btn--large mr mb")
					+icon
					span Large