mixin icon
	svg(class="icon", aria-hidden="true")
		use(xlink:href="#icon-x")

section.section.js-menu#Buttons
	.row
		.col-12
			h3.section__title Buttons
	.row.js-parent-snippet.mb-3
		.col-12.mb
			h4 Plain
			a(href="#", class="btn btn--primary mr mb") Base link
			input(type="submit", class="btn btn--primary mr mb", value="Input submit")
			button(type="button", class="btn btn--primary mr mb js-snippet") Button
	.row.js-parent-snippet.mb-3
		.col-12.mb
			h4 Expanded
			button(type="button", class="btn btn--primary btn--block mb js-snippet") Expanded
	.row.js-parent-snippet.mb-3
		.col-12.mb
			h4 Colors
			.js-snippet
				button(type="button", class="btn btn--primary mr mb") Primary
				button(type="button", class="btn btn--secondary mr mb") Secondary
				button(type="button", class="btn btn--error mr mb") Error
				button(type="button", class="btn btn--success mr mb") Success
				button(type="button", class="btn btn--white mr mb") White
				button(type="button", class="btn btn--light mr mb") Light
				button(type="button", class="btn btn--dark mr mb") Dark
				button(type="button", class="btn btn--transparent mr mb") Transparent
	.row.js-parent-snippet.mb-3
		.col-12.mb
			h4 Outline
			.js-snippet
				button(type="button", class="btn btn--outline btn--primary mr mb") Primary
				button(type="button", class="btn btn--outline btn--secondary mr mb") Secondary
				button(type="button", class="btn btn--outline btn--error mr mb") Error
				button(type="button", class="btn btn--outline btn--success mr mb") Success
				button(type="button", class="btn btn--outline btn--light mr mb") Light
				button(type="button", class="btn btn--outline btn--dark mr mb") Dark
	.row.js-parent-snippet.mb-3
		.col-12.mb
			h4 Disabled
			button(type="button", class="btn btn--primary mr mb", disabled) Button
			a(href="#", class="btn btn--white mr mb disabled", aria-disabled="true") Base Link
			button(type="button", class="btn btn--outline btn--primary mr mb js-snippet", disabled) Button outline
	.row.js-parent-snippet.mb-3
		.col-12.mb
			h4 Rounded
			button(type="button", class="btn btn--primary btn--rounded mr mb js-snippet") Rounded
			button(type="button", class="btn btn--primary btn--rounded mr mb") 
				+icon
				span Rounded
			button(type="button", class="btn btn--primary btn--rounded mr mb", aria-label="Text")
				+icon
	.row.js-parent-snippet.mb-3
		.col-12.mb
			h4 With icons
			button(type="button", class="btn btn--primary mr mb js-snippet")
				+icon
				span Button
			button(type="button", class="btn btn--primary mr mb") 
				span Button
				+icon
			button(type="button", class="btn btn--outline btn--primary mr mb") 
				+icon
				span Button
			a(href="#", class="btn btn--white mr mb") 
				+icon
				span Button
			button(type="button", class="btn btn--primary mr mb")
				+icon
				span Button
			button(type="button", class="btn btn--primary mr mb", aria-label="Text")
				+icon
			button(type="button", class="btn btn--primary btn--outline mr mb", aria-label="Text")
				+icon
	.row.js-parent-snippet
		.col-12.mb
			h4 Sizes
			button(type="button", class="btn btn--dark btn--small mr mb", aria-label="Text")
				+icon
			button(type="button", class="btn btn--dark btn--small mr mb js-snippet") Small
			button(type="button", class="btn btn--dark btn--small mr mb")
				+icon
				span Small
			button(type="button", class="btn btn--primary mr mb") Normal
			button(type="button", class="btn btn--primary mr mb", aria-label="Text")
				+icon
			button(type="button", class="btn btn--primary mr mb")
				+icon
				span Normal
			button(type="button", class="btn btn--dark btn--large mr mb", aria-label="Text")
				+icon('demoBtn6')
			button(type="button", class="btn btn--dark btn--large mr mb") Large
			button(type="button", class="btn btn--dark btn--large mr mb")
				+icon
				span Large