extends ../stylesguide.pug
 
block append vars
	- var sectionTitle = 'Components';

block content
	include badge.pug
	include breadcrumb.pug
	include button.pug
	include loader.pug
	include pagination.pug
	include panel.pug
	include tooltip.pug