mixin loader(overlay, white)
	.c-loader.js-snippet(class={'c-loader--white': white==true,'c-loader--overlay': overlay==true})
		svg(viewBox="0 0 100 100", xmlns="http://www.w3.org/2000/svg", aria-hidden="true")
			circle(cx="50", cy="50", r="45")

section.section.js-menu#Loader
	.row.js-parent-snippet
		.col-12
			h3.section__title Loader
		.col-12
			h4 Default
			+loader()
		.col-12.col-lg-6
			h4 With overlay
			.c-panel.c-panel--primary
				+loader(true)
				.c-panel__content
					p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam quis, ab magni nostrum. Quidem id ipsum recusandae inventore quos accusamus dolorum, eos enim consequuntur! Vitae id amet ullam qui corrupti.
		.col-12.col-lg-6
			h4 With overlay &amp; white version
			.c-panel.c-panel--closable(id="msg_l1", aria-hidden="false")
				+loader(true, true)
				.c-panel__content
					p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam quis, ab magni nostrum. Quidem id ipsum recusandae inventore quos accusamus dolorum, eos enim consequuntur! Vitae id amet ullam qui corrupti.
				button(type="button", class="c-panel__close c-btn c-btn--small c-btn--outline c-btn--secondary", data-toggle-class, data-toggle-target-only, data-toggle-target="#msg_l1", data-toggle-is-active) 
					svg(class="icon")
						title Cacher ce message
						use(xlink:href="#icon-x")

