mixin loader(overlay, white)
	.loader.js-snippet(class={'loader--white': white==true,'loader--overlay': overlay==true})
		svg(viewBox="0 0 100 100", xmlns="http://www.w3.org/2000/svg", aria-hidden="true")
			circle(cx="50", cy="50", r="45")

section.section.js-menu#Loader
	.row.js-parent-snippet
		div(class="col-12")
			h3.section__title Loader
		div(class="col-12")
			h4 Default
			+loader()
		div(class="col-12 lg:col-6")
			h4 With overlay
			.panel.panel--primary
				+loader(true)
				.panel__content
					p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam quis, ab magni nostrum. Quidem id ipsum recusandae inventore quos accusamus dolorum, eos enim consequuntur! Vitae id amet ullam qui corrupti.
		div(class="col-12 lg:col-6")
			h4 With overlay &amp; white version
			.panel.panel--closable(id="msg_l1", aria-hidden="false")
				+loader(true, true)
				.panel__content
					p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam quis, ab magni nostrum. Quidem id ipsum recusandae inventore quos accusamus dolorum, eos enim consequuntur! Vitae id amet ullam qui corrupti.
				button(type="button", class="panel__close btn btn--small btn--outline btn--secondary", data-toggle-class, data-toggle-target-only, data-toggle-target="#msg_l1", data-toggle-is-active, aria-label="Cacher ce message") 
					svg(class="icon", aria-hidden="true")
						use(xlink:href="#icon-x")

