section.section.js-menu#Pagination
	.row.js-parent-snippet
		.col-12
			h3.section__title Pagination
		.col-12
			.bg-lightgrey.p 
				p <b>Notes :</b>
				ul
					li Pour une pagination en AJAX, modifier les attributs <code>aria-disabled</code>, <code>aria-current</code> et <code>tabindex</code> lors d'un changement de page.
		.col-12
			nav(aria-label="Pagination", class="js-snippet")
				ol.pagination.list-unstyled
					li.pagination__item
						a(href="#", aria-disabled="true", tabindex="-1", rel="prev", class="btn btn--outline btn--primary btn--small", aria-label="Page précédente") 
							svg(class="icon", aria-hidden="true")
								use(xlink:href="#icon-chevron-left")
					li.pagination__item
						a(href="#", aria-label="Page 1", aria-current="page", class="btn btn--primary btn--small")
							span(aria-hidden="true") 1
					li.pagination__item
						a(href="#", aria-label="Page 2", class="btn btn--outline btn--primary btn--small")
							span(aria-hidden="true") 2
					li.pagination__item
						a(href="#", aria-label="Page 3", class="btn btn--outline btn--primary btn--small")
							span(aria-hidden="true") 3
					li.pagination__item.pagination__item--ellipsis(aria-hidden="true")
						a(href="#", aria-disabled="true", tabindex="-1", class="btn btn--white btn--small")
							span &hellip;
					li.pagination__item
						a(href="#", aria-label="Page 99", class="btn btn--outline btn--primary btn--small")
							span(aria-hidden="true") 99
					li.pagination__item
						a(href="#", rel="next", class="btn btn--outline btn--primary btn--small", aria-label="Page suivante") 
							svg(class="icon", aria-hidden="true")
								use(xlink:href="#icon-chevron-right")
