mixin panel(id, variant, closable, longContent)
	if(closable)
		- closableClass = 'c-panel--closable';
	.c-panel(class='c-panel--' + variant + ' u-mb-2 ' + closableClass, id="msg_"+id)
		.c-panel__content
			if(longContent)
				h2.c-panel__title Title
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur <a href="#">distinctio sequi</a> nihil qui assumenda, excepturi mollitia harum magni amet ut ipsa <b>expedita minima ea</b>, rem laudantium reiciendis <i>reprehenderit pariatur in</i>.
				hr
				p Nihil qui assumenda, excepturi mollitia harum magni amet ut ipsa expedita minima ea rem laudantium reiciendis, reprehenderit.
			else
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur <a href="#">distinctio sequi</a> nihil.
		if(closableClass)
			if(variant == 'white')
				- variant = 'dark';
			else if(variant == 'light')
				- variant = 'dark';
			else if(variant == 'dark')
				- variant = 'light';
			button(type="button", class="c-panel__close c-btn c-btn--small c-btn--outline c-btn--" + variant, data-toggle-class, data-toggle-target-only, data-toggle-target="#msg_"+id, data-toggle-is-active) 
				svg(class="icon")
					title Cacher ce message
					use(xlink:href="#icon-x")

section.section.js-menu#Panels
	.row.js-parent-snippet
		.col-12
			h1.section__title Panels
		.col-12.u-mb-0
			.u-bg-lightgrey.u-p.u-mb-2
				p <b>Notes :</b>
				ul
					li Ajouter <code>role="alert"</code> s'il s'agit d'une notification.
			+panel('1', 'white', true)
			+panel('2', 'primary', true)
			+panel('3', 'secondary', true)
			+panel('4', 'success', true)
			+panel('5', 'error', true)
			.js-snippet
				+panel('6', 'light', true, true)
			+panel('7', 'dark', true, true)