section.section.js-menu#Tooltips
	.row
		.col-12
			h1.section__title Tooltips
	.row.js-parent-snippet.u-mb-half
		.col-6.col-md-3
			h2 Text
			p.js-snippet
				| Lorem ipsum 
				span.c-tooltip.c-tooltip--nowrap
					span.c-tooltip__trigger(tabindex="0", aria-describedby="tooltipSpan") dolor sit amet consectetur
					span.c-tooltip__content(role="tooltip", id="tooltipSpan", data-label="dolor sit amet consectetur") Exemple tooltip
		.col-6.col-md-3
			h2 Link
			p
				span.c-tooltip.c-tooltip--nowrap.js-snippet
					a(href="#", aria-describedby="tooltipLink").c-tooltip__trigger I am a link
					span.c-tooltip__content(role="tooltip", id="tooltipLink", data-label="link") Hey Link !
		.col-6.col-md-3
			h2 Input
			.form-group.c-tooltip.js-snippet
				input.c-tooltip__trigger(type="text", aria-describedby="tooltipInput", aria-label="I'm an input")
				span.c-tooltip__content(role="tooltip", id="tooltipInput") Hello !
		.col-6.col-md-3
			h2 Button
			.c-tooltip.c-tooltip--nowrap.u-d-inline-block.js-snippet
				button(type="button", class="c-btn c-btn--primary c-btn--icon-only c-tooltip__trigger c-btn--small", aria-describedby="tooltipButton")
					svg.icon
						title Text button
						use(xlink:href="#icon-x")
				span.c-tooltip__content(role="tooltip", id="tooltipButton") Good Bye !
	.row.js-parent-snippet.u-mb-half
		.col-12
			h2 Without max-width
			table.table
				tr
					th 
						span.c-tooltip.c-tooltip--nowrap.js-snippet
							span.c-tooltip__trigger(tabindex="0", aria-describedby="tooltipCell") ZC
							span.c-tooltip__content(role="tooltip", id="tooltipCell", data-label="ZC") Zip Code
					th City
					th Country
				tr
					td 59000
					td Lille
					td France