doctype html

include partials/mixin.pug 

html(lang="en", class="touch")
	head
		include partials/head.pug 
 
	block vars

	body(class=bodyClass)

		include partials/skip-links.pug 
 	
		div(style="display: none", aria-hidden="true")
			include ../../dest/img/sprite.svg 

		include partials/header.pug 
			
		block before-main

		main#content(role="main")
			block main
			
		block after-main

		include partials/footer.pug 

		//- Display a modal for old browsers users
		script.
			var $buoop = {required:{e:-2},mobile:false,style:"corner",newwindow:true,api:2019.03 }; 
			function $buo_f(){ 
			 var e = document.createElement("script"); 
			 e.src = "//browser-update.org/update.min.js"; 
			 document.body.appendChild(e);
			};
			try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
			catch(e){window.attachEvent("onload", $buo_f)}

		//- Scripts
		block scripts-footer 
			script(src="node_modules/easy-toggle-state/dist/easy-toggle-state.min.js")
			script(src="node_modules/tiny-slider/dist/min/tiny-slider.js")
			script(src="node_modules/van11y-accessible-accordion-aria/dist/van11y-accessible-accordion-aria.min.js")
			script(src="node_modules/van11y-accessible-simple-tooltip-aria/dist/van11y-accessible-simple-tooltip-aria.min.js")
			script(src="node_modules/van11y-accessible-tab-panel-aria/dist/van11y-accessible-tab-panel-aria.min.js")
			script(src="dest/js/scripts.min.js")
			script.
				var other_accordion = van11yAccessibleAccordionAria({
						ACCORDION_JS: 'js-acc',
				    ACCORDION_HEADER_STYLE: 'btn'
				});
				other_accordion.attach();
