.col-12.col-sm-6.col-lg-4.u-text-white
	h2 Primary
	div(class="u-bg-primary-lightest u-p") .u-bg-primary-lightest
	div(class="u-bg-primary-light u-p") .u-bg-primary-light
	div(class="u-bg-primary u-p") .u-bg-primary
	div(class="u-bg-primary-dark u-p") .u-bg-primary-dark
.col-12.col-sm-6.col-lg-4.u-text-white
	h2 Secondary
	div(class="u-bg-secondary-lightest u-p") .u-bg-secondary-lightest
	div(class="u-bg-secondary-light u-p") .u-bg-secondary-light
	div(class="u-bg-secondary u-p") .u-bg-secondary
	div(class="u-bg-secondary-dark u-p") .u-bg-secondary-dark
.col-12.col-sm-6.col-lg-4.u-text-white
	h2 Error
	div(class="u-bg-error-lightest u-p") .u-bg-error-lightest
	div(class="u-bg-error-light u-p") .u-bg-error-light
	div(class="u-bg-error u-p") .u-bg-error
	div(class="u-bg-error-dark u-p") .u-bg-error-dark
.col-12.col-sm-6.col-lg-4.u-text-white
	h2 Success
	div(class="u-bg-success-lightest u-p") .u-bg-success-lightest
	div(class="u-bg-success-light u-p") .u-bg-success-light
	div(class="u-bg-success u-p") .u-bg-success
	div(class="u-bg-success-dark u-p") .u-bg-success-dark
.col-12.col-sm-6.col-lg-4.u-text-white
	h2 Neutral
	div(class="u-bg-transparent u-p u-text-black") .u-bg-transparent
	div(class="u-bg-lightgrey u-p") .u-bg-lightgrey
	div(class="u-bg-grey u-p") .u-bg-grey
	div(class="u-bg-darkgrey u-p") .u-bg-darkgrey
	div(class="u-bg-black u-p") .u-bg-black
.col-12.col-sm-6.col-lg-4.u-bg-black.u-py
	h2.u-text-white White
	div(class="u-bg-white u-p") .u-bg-white