.col-12.col-sm-6.col-lg-4.text-white
	h4 Primary
	div(class="bg-primary-lightest p") .bg-primary-lightest
	div(class="bg-primary-light p") .bg-primary-light
	div(class="bg-primary p") .bg-primary
	div(class="bg-primary-dark p") .bg-primary-dark
.col-12.col-sm-6.col-lg-4.text-white
	h4 Secondary
	div(class="bg-secondary-lightest p") .bg-secondary-lightest
	div(class="bg-secondary-light p") .bg-secondary-light
	div(class="bg-secondary p") .bg-secondary
	div(class="bg-secondary-dark p") .bg-secondary-dark
.col-12.col-sm-6.col-lg-4.text-white
	h4 Error
	div(class="bg-error-lightest p") .bg-error-lightest
	div(class="bg-error-light p") .bg-error-light
	div(class="bg-error p") .bg-error
	div(class="bg-error-dark p") .bg-error-dark
.col-12.col-sm-6.col-lg-4.text-white
	h4 Success
	div(class="bg-success-lightest p") .bg-success-lightest
	div(class="bg-success-light p") .bg-success-light
	div(class="bg-success p") .bg-success
	div(class="bg-success-dark p") .bg-success-dark
.col-12.col-sm-6.col-lg-4.text-white
	h4 Neutral
	div(class="bg-transparent p text-black") .bg-transparent
	div(class="bg-lightgrey p") .bg-lightgrey
	div(class="bg-grey p") .bg-grey
	div(class="bg-darkgrey p") .bg-darkgrey
	div(class="bg-black p") .bg-black
.col-12.col-sm-6.col-lg-4
	.bg-black.p.h-100
		h4.text-white White
		div(class="bg-white p") .bg-white