.col-12.col-sm-6.col-lg-4
	h4 Additive
	div(class="u-border u-p u-mb-1-2") .u-border
	div(class="u-border-top u-p u-mb-1-2") .u-border-top
	div(class="u-border-right u-p u-mb-1-2") .u-border-right
	div(class="u-border-bottom u-p u-mb-1-2") .u-border-bottom
	div(class="u-border-left u-p u-mb-1-2") .u-border-left
.col-12.col-sm-6.col-lg-4
	h4 Subtractive
	div(class="u-border u-border-0 u-p u-mb-1-2") .u-border-0
	div(class="u-border u-border-top-0 u-p u-mb-1-2 u-bg-light") .u-border-top-0
	div(class="u-border u-border-right-0 u-p u-mb-1-2") .u-border-right-0
	div(class="u-border u-border-bottom-0 u-p u-mb-1-2") .u-border-bottom-0
	div(class="u-border u-border-left-0 u-p u-mb-1-2") .u-border-left-0
.col-12.col-sm-6.col-lg-4
	h4 Sizes
	div(class="u-border u-border-1 u-p u-mb-1-2") .u-border-1
	div(class="u-border u-border-2 u-p u-mb-1-2") .u-border-2
	div(class="u-border u-border-4 u-p u-mb-1-2") .u-border-5
.col-12.col-sm-6.col-lg-4
	h4 Primary
	div(class="u-border u-border-primary-lightest u-p u-mb-1-4") .u-border-primary-lightest
	div(class="u-border u-border-primary-light u-p u-mb-1-4") .u-border-primary-light
	div(class="u-border u-border-primary u-p u-mb-1-4") .u-border-primary
	div(class="u-border u-border-primary-dark u-p u-mb-1-4") .u-border-primary-dark
.col-12.col-sm-6.col-lg-4
	h4 Secondary
	div(class="u-border u-border-secondary-lightest u-p u-mb-1-4") .u-border-secondary-lightest
	div(class="u-border u-border-secondary-light u-p u-mb-1-4") .u-border-secondary-light
	div(class="u-border u-border-secondary u-p u-mb-1-4") .u-border-secondary
	div(class="u-border u-border-secondary-dark u-p u-mb-1-4") .u-border-secondary-dark
.col-12.col-sm-6.col-lg-4
	h4 Error
	div(class="u-border u-border-error-lightest u-p u-mb-1-4") .u-border-error-lightest
	div(class="u-border u-border-error-light u-p u-mb-1-4") .u-border-error-light
	div(class="u-border u-border-error u-p u-mb-1-4") .u-border-error
	div(class="u-border u-border-error-dark u-p u-mb-1-4") .u-border-error-dark
.col-12.col-sm-6.col-lg-4
	h4 Success
	div(class="u-border u-border-success-lightest u-p u-mb-1-4") .u-border-success-lightest
	div(class="u-border u-border-success-light u-p u-mb-1-4") .u-border-success-light
	div(class="u-border u-border-success u-p u-mb-1-4") .u-border-success
	div(class="u-border u-border-success-dark u-p u-mb-1-4") .u-border-success-dark
.col-12.col-sm-6.col-lg-4
	h4 Neutral
	div(class="u-border u-border-transparent u-p u-mb-1-4") .u-border-transparent
	div(class="u-border u-border-lightgrey u-p u-mb-1-4") .u-border-lightgrey
	div(class="u-border u-border-grey u-p u-mb-1-4") .u-border-grey
	div(class="u-border u-border-darkgrey u-p u-mb-1-4") .u-border-darkgrey
	div(class="u-border u-border-black u-p u-mb-1-4") .u-border-black
.col-12.col-sm-6.col-lg-4.u-bg-black.u-text-white.u-py
	h4.u-text-white White
	div(class="u-border u-border-white u-p") .u-border-white