div(class=".col-12 sm:col-6 lg:col-4")
	h4 Additive
	div(class="border p mb-0.5") .border
	div(class="border-top p mb-0.5") .border-top
	div(class="border-right p mb-0.5") .border-right
	div(class="border-bottom p mb-0.5") .border-bottom
	div(class="border-left p mb-0.5") .border-left
div(class=".col-12 sm:col-6 lg:col-4")
	h4 Subtractive
	div(class="border border-0 p mb-0.5") .border-0
	div(class="border border-top-0 p mb-0.5 bg-light") .border-top-0
	div(class="border border-right-0 p mb-0.5") .border-right-0
	div(class="border border-bottom-0 p mb-0.5") .border-bottom-0
	div(class="border border-left-0 p mb-0.5") .border-left-0
div(class=".col-12 sm:col-6 lg:col-4")
	h4 Sizes
	div(class="border border-1 p mb-0.5") .border-1
	div(class="border border-2 p mb-0.5") .border-2
	div(class="border border-4 p mb-0.5") .border-5
div(class=".col-12 sm:col-6 lg:col-4")
	h4 Primary
	div(class="border border-primary-lightest p mb-0.25") .border-primary-lightest
	div(class="border border-primary-light p mb-0.25") .border-primary-light
	div(class="border border-primary p mb-0.25") .border-primary
	div(class="border border-primary-dark p mb-0.25") .border-primary-dark
div(class=".col-12 sm:col-6 lg:col-4")
	h4 Secondary
	div(class="border border-secondary-lightest p mb-0.25") .border-secondary-lightest
	div(class="border border-secondary-light p mb-0.25") .border-secondary-light
	div(class="border border-secondary p mb-0.25") .border-secondary
	div(class="border border-secondary-dark p mb-0.25") .border-secondary-dark
div(class=".col-12 sm:col-6 lg:col-4")
	h4 Error
	div(class="border border-error-lightest p mb-0.25") .border-error-lightest
	div(class="border border-error-light p mb-0.25") .border-error-light
	div(class="border border-error p mb-0.25") .border-error
	div(class="border border-error-dark p mb-0.25") .border-error-dark
div(class=".col-12 sm:col-6 lg:col-4")
	h4 Success
	div(class="border border-success-lightest p mb-0.25") .border-success-lightest
	div(class="border border-success-light p mb-0.25") .border-success-light
	div(class="border border-success p mb-0.25") .border-success
	div(class="border border-success-dark p mb-0.25") .border-success-dark
div(class=".col-12 sm:col-6 lg:col-4")
	h4 Neutral
	div(class="border border-transparent p mb-0.25") .border-transparent
	div(class="border border-lightgrey p mb-0.25") .border-lightgrey
	div(class="border border-grey p mb-0.25") .border-grey
	div(class="border border-darkgrey p mb-0.25") .border-darkgrey
	div(class="border border-black p mb-0.25") .border-black
div(class=".col-12 sm:col-6 lg:col-4")
	.bg-black.text-white.p.h-100
		h4.text-white White
		div(class="border border-white p") .border-white