.col-12.col-sm-6.col-md-4
	h2 Primary
	div(class="u-text-primary-lightest") .u-text-primary-lightest
	div(class="u-text-primary-light") .u-text-primary-light
	div(class="u-text-primary") .u-text-primary
	div(class="u-text-primary-dark") .u-text-primary-dark
.col-12.col-sm-6.col-md-4
	h2 Secondary
	div(class="u-text-secondary-lightest") .u-text-secondary-lightest
	div(class="u-text-secondary-light") .u-text-secondary-light
	div(class="u-text-secondary") .u-text-secondary
	div(class="u-text-secondary-dark") .u-text-secondary-dark
.col-12.col-sm-6.col-md-4
	h2 Error
	div(class="u-text-error-lightest") .u-text-error-lightest
	div(class="u-text-error-light") .u-text-error-light
	div(class="u-text-error") .u-text-error
	div(class="u-text-error-dark") .u-text-error-dark
.col-12.col-sm-6.col-md-4
	h2 Success
	div(class="u-text-success-lightest") .u-text-success-lightest
	div(class="u-text-success-light") .u-text-success-light
	div(class="u-text-success") .u-text-success
	div(class="u-text-success-dark") .u-text-success-dark
.col-12.col-sm-6.col-md-4
	h2 Neutral
	div(class="u-text-lightgrey") .u-text-lightgrey
	div(class="u-text-grey") .u-text-grey
	div(class="u-text-darkgrey") .u-text-darkgrey
	div(class="u-text-black") .u-text-black
.col-12.col-sm-6.col-lg-4.u-bg-black.u-py
	h2.u-text-white White
	div(class="u-text-white") .u-text-white