.col-12.col-sm-6.col-md-4
	h4 Primary
	div(class="text-primary-lightest") .text-primary-lightest
	div(class="text-primary-light") .text-primary-light
	div(class="text-primary") .text-primary
	div(class="text-primary-dark") .text-primary-dark
.col-12.col-sm-6.col-md-4
	h4 Secondary
	div(class="text-secondary-lightest") .text-secondary-lightest
	div(class="text-secondary-light") .text-secondary-light
	div(class="text-secondary") .text-secondary
	div(class="text-secondary-dark") .text-secondary-dark
.col-12.col-sm-6.col-md-4
	h4 Error
	div(class="text-error-lightest") .text-error-lightest
	div(class="text-error-light") .text-error-light
	div(class="text-error") .text-error
	div(class="text-error-dark") .text-error-dark
.col-12.col-sm-6.col-md-4
	h4 Success
	div(class="text-success-lightest") .text-success-lightest
	div(class="text-success-light") .text-success-light
	div(class="text-success") .text-success
	div(class="text-success-dark") .text-success-dark
.col-12.col-sm-6.col-md-4
	h4 Neutral
	div(class="text-lightgrey") .text-lightgrey
	div(class="text-grey") .text-grey
	div(class="text-darkgrey") .text-darkgrey
	div(class="text-black") .text-black
.col-12.col-sm-6.col-lg-4
	.bg-black.p.h-100
		h4.text-white White
		div(class="text-white") .text-white