.col-12
	code .d-{sm/md/lg}-{none/inline/inline-block/block/inline-flex/flex}
	table.mt
		thead
			tr
				th Screen sizes
				th Class
		tbody
			tr
				td Hidden on all
				td
					code .d-none
			tr
				td Visible only for sm and plus
				td
					code .d-none .d-sm-block
			tr
				td Visible only for md and plus
				td
					code .d-none .d-md-block
			tr
				td Visible only for lg and plus
				td
					code .d-none .d-lg-block