.col-12
	code .{sm/md/lg}:d-{none/inline/inline-block/block/inline-flex/flex}
	table.mt
		thead
			tr
				th Screen sizes
				th Class
		tbody
			tr
				td Hidden on all
				td
					code .d-none
			tr
				td Visible only for sm and plus
				td
					code .d-none .sm:d-block
			tr
				td Visible only for md and plus
				td
					code .d-none .md:d-block
			tr
				td Visible only for lg and plus
				td
					code .d-none .lg:d-block