.col-12
	code .pos-{sm/md/lg}-{static/relative}
	table.mt
		thead
			tr
				th Screen sizes
				th Class
		tbody
			tr
				td Static on all
				td
					code .pos-static
					|  or nothing
			tr
				td Relative on all
				td
					code .pos-relative
			tr
				td Relative only for sm and plus
				td
					code .sm-relative
			tr
				td Relative only for md and plus
				td
					code .md-relative
			tr
				td Relative only for lg and plus
				td
					code .lg-relative