.col-12
	.u-mb
		code(style="word-break:break-word") .u-[radius/rounded]
	.row.js-parent-snippet.u-mb-half
		.col-12.u-mb-0
			p(class="u-text-primary-dark u-bg-primary-lightest u-p-half js-snippet u-mb-half u-radius") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae recusandae.
	.row.js-parent-snippet.u-mb-half
		.col-12.u-mb-0
			p(class="u-bg-primary u-text-white u-text-center js-snippet u-p-half u-mb-half u-rounded") Lorem ipsum dolor sit amet. 
