.col-12.col-sm-6
	h4 Radius
	div(class="u-radius u-bg-primary-lightest u-text-primary-dark u-p") .u-radius
.col-12.col-sm-6
	h4 Rounded
	div(class="u-rounded u-bg-primary-lightest u-text-primary-dark u-p") .u-rounded