div(class="col-12 sm:col-6")
	h4 Radius
	div(class="radius bg-primary-lightest text-primary-dark p") .radius
div(class="col-12 sm:col-6")
	h4 Rounded
	div(class="rounded bg-primary-lightest text-primary-dark p") .rounded