.col-12
	code .u-{p/m/nm}{t/r/b/l/x/y}-{sm/md/lg}-{a/0/1-4/1-3/1-2/2/3/4/5}
.col-12.col-sm-6
	h4 Examples
	div(class="u-bg-lightgrey u-p u-mb")
		div(class="u-bg-primary-lightest u-text-primary-dark") .u-p
	div(class="u-bg-lightgrey u-pl u-mb")
		div(class="u-bg-primary-lightest u-text-primary-dark") .u-pl
	div(class="u-bg-lightgrey u-py-2 u-mb")
		div(class="u-bg-primary-lightest u-text-primary-dark") .u-py-2
	div(class="u-bg-lightgrey u-px-md-3 u-mb")
		div(class="u-bg-primary-lightest u-text-primary-dark") .u-px-md-3 