.col-12
	code .{p/m/nm}{t/r/b/l/x/y}-{sm/md/lg}-{a/0/1-4/1-3/1-2/2/3/4/5}
.col-12.col-sm-6
	h4 Examples
	div(class="bg-lightgrey p mb")
		div(class="bg-primary-lightest text-primary-dark") .p
	div(class="bg-lightgrey pl mb")
		div(class="bg-primary-lightest text-primary-dark") .pl
	div(class="bg-lightgrey py-2 mb")
		div(class="bg-primary-lightest text-primary-dark") .py-2
	div(class="bg-lightgrey px-md-3 mb")
		div(class="bg-primary-lightest text-primary-dark") .px-md-3 