div(class="col-12")
	code .{sm/md/lg}:{p/m/nm}{t/r/b/l/x/y}-{a/0/0.25/0.33/0.5/2/3/4/5}
div(class="col-12 sm:col-6")
	h4 Examples
	div(class="bg-lightgrey p mb")
		div(class="bg-primary-lightest text-primary-dark") .p
	div(class="bg-lightgrey pl-0.5 mb")
		div(class="bg-primary-lightest text-primary-dark") .pl-0.5
	div(class="bg-lightgrey py-2 mb")
		div(class="bg-primary-lightest text-primary-dark") .py-2
	div(class="bg-lightgrey md:px-3 mb")
		div(class="bg-primary-lightest text-primary-dark") .md:px-3 
	div(class="bg-primary-lightest text-primary-dark mb nml") .nml
	div(class="bg-lightgrey mb")
		div(class="bg-primary-lightest text-primary-dark mx-a", style="width: 100px") .mx-a