.col-12.col-lg-3
	code .u-[spacing][dir]-[null/sm/md/lg]-[x]
.col-12.col-md-4.col-lg-3
	ul
		li <i>spacing</i>
			ul.smaller
				li <b>p</b> (padding)
				li <b>m</b> (margin)
				li <b>nm</b> (negative margin)
.col-12.col-md-4.col-lg-3
	ul
		li <i>dir</i>
			ul.smaller
				li <b>l</b> (left)
				li <b>r</b> (right)
				li <b>t</b> (top)
				li <b>b</b> (bottom)
				li <b>x</b> (left & right)
				li <b>y</b> (top & bottom)
				li <i>null</i> (all directions)
.col-12.col-md-4.col-lg-3
	ul 
		li <i>x</i>
			ul.smaller
				li <b>0</b> (zero spacing)
				li <b>quarter</b> (quarter of <code>--spacing</code>)
				li <b>half</b> (half of <code>--spacing</code>)
				li <i>null</i> (<code>--spacing</code>)
				li <b>double</b> (double of <code>--spacing</code>)
				li <b>quad</b> (quadruple of <code>--spacing</code>)
				li <b>a</b> (auto)