.col-12
	code .u-{p/m/nm}{t/r/b/l/x/y}-{sm/md/lg}-{0/quarter/third/half/double/triple/quad/quint}
.col-12.col-sm-6
	h2 Examples
	div(class="u-bg-lightgrey u-p u-mb")
		div(class="u-bg-primary-lightest u-text-primary-dark") .u-p
	div(class="u-bg-lightgrey u-pl u-mb")
		div(class="u-bg-primary-lightest u-text-primary-dark") .u-pl
	div(class="u-bg-lightgrey u-py-double u-mb")
		div(class="u-bg-primary-lightest u-text-primary-dark") .u-py-double
	div(class="u-bg-lightgrey u-px-md-triple u-mb")
		div(class="u-bg-primary-lightest u-text-primary-dark") .u-px-md-triple 