.col-12
	h4 Alignment
.col-12
	code .text-{sm/md/lg}-{left/center/right}
.col-12
	div(class="text-left bg-primary-lightest text-primary-dark p mb") .text-left
	div(class="text-center bg-primary-lightest text-primary-dark p mb") .text-center
	div(class="text-right bg-primary-lightest text-primary-dark p mb") .text-right
	div(class="text-md-center bg-primary-lightest text-primary-dark p mb") This text is centered only for medium (and plus) screen
.col-12
	h4 Sizes
.col-12
	code .fs-{fluid/1/2/3/4/5/smaller/larger}
.col-12.lh-1
	p.fs-smaller .fs-smaller
	p.fs-larger .fs-larger
	p.fs-1 .fs-1
	p.fs-2 .fs-2
	p.fs-3 .fs-3 (default: 1rem)
	p.fs-4 .fs-4
	p.fs-5 .fs-5
	p.fs-fluid(style="--min: 1;--max:2") .fs-fluid
.col-12
	h4 Word break
.col-12
	code .text-break
.col-12
	p Lorem ipsum dolor sit, <span class="text-break">wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww</span> elit. Fugit, repellendus, deserunt ?
.col-12
	h4 Reset color
.col-12
	code .text-reset
.col-12
	p Lorem ipsum dolor sit, <a href="#" class="text-reset">amet consectetur adipisicing</a> elit. Fugit, repellendus, deserunt ?
.col-12
	h4 Text transform
.col-12
	code .caps
.col-12
	p Lorem ipsum dolor sit, <span class="caps">amet consectetur adipisicing</span> elit. Fugit, repellendus, deserunt ?
.col-12
	h4 Font weight &amp; italics
.col-12
	code .{fw/fst}-{regular/semibold/bold/i}
.col-12.lh-1
	p.fw-regular .fw-regular
	p.fw-semibold .fw-semibold
	p.fw-bold .fw-bold
	p.fst-i .fst-i
.col-12
	h4 Line height
.col-12
	code .{lh}-{1/sm/base/lg}
.col-12
	p.lh-1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, aspernatur nihil vitae ea, in ducimus commodi fugiat perferendis iusto laborum, porro! Quas molestiae est enim sint, expedita, illo quod a. Sequi, id omnis pariatur. Molestias modi repudiandae incidunt eveniet veniam? Sapiente neque consequuntur iusto alias, vero consectetur ipsum quasi illo, provident. Nostrum a repellendus sapiente doloremque, adipisci cum ipsa ad!
	p.lh-sm Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, aspernatur nihil vitae ea, in ducimus commodi fugiat perferendis iusto laborum, porro! Quas molestiae est enim sint, expedita, illo quod a. Sequi, id omnis pariatur. Molestias modi repudiandae incidunt eveniet veniam? Sapiente neque consequuntur iusto alias, vero consectetur ipsum quasi illo, provident. Nostrum a repellendus sapiente doloremque, adipisci cum ipsa ad!
	p.lh-base Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, aspernatur nihil vitae ea, in ducimus commodi fugiat perferendis iusto laborum, porro! Quas molestiae est enim sint, expedita, illo quod a. Sequi, id omnis pariatur. Molestias modi repudiandae incidunt eveniet veniam? Sapiente neque consequuntur iusto alias, vero consectetur ipsum quasi illo, provident. Nostrum a repellendus sapiente doloremque, adipisci cum ipsa ad!
	p.lh-lg Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, aspernatur nihil vitae ea, in ducimus commodi fugiat perferendis iusto laborum, porro! Quas molestiae est enim sint, expedita, illo quod a. Sequi, id omnis pariatur. Molestias modi repudiandae incidunt eveniet veniam? Sapiente neque consequuntur iusto alias, vero consectetur ipsum quasi illo, provident. Nostrum a repellendus sapiente doloremque, adipisci cum ipsa ad!
.col-12
	h4 Text decoration
.col-12
	code .text-underline .text-decoration-none
.col-12
	p.text-underline This text has a line underneath it.
	a(href="#").text-decoration-none This link has its text decoration removed.
.col-12
	h4 Serif font
.col-12
	code .text-serif
.col-12
	p.text-serif Lorem ipsum dolor sit amet consectetur adipisicing elit.
.col-12
	h4 Text truncation
.col-12
	code .text-truncate
.col-12
	p.text-truncate.bg-lightgrey.p.border Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, aspernatur nihil vitae ea, in ducimus commodi fugiat perferendis iusto laborum, porro! Quas molestiae est enim sint, expedita, illo quod a. Sequi, id omnis pariatur. Molestias modi repudiandae incidunt eveniet veniam? Sapiente neque consequuntur iusto alias, vero consectetur ipsum quasi illo, provident. Nostrum a repellendus sapiente doloremque, adipisci cum ipsa ad!