.col-12
	code .u-text-{sm/md/lg}-{left/center/right}
.col-12
	h2 Examples
	div(class="u-text-left u-bg-primary-lightest u-text-primary-dark u-p u-mb") .u-text-left
	div(class="u-text-center u-bg-primary-lightest u-text-primary-dark u-p u-mb") .u-text-center
	div(class="u-text-right u-bg-primary-lightest u-text-primary-dark u-p u-mb") .u-text-right
	div(class="u-text-md-center u-bg-primary-lightest u-text-primary-dark u-p u-mb") This text is centered only for medium (and plus) screen