.col-12
	.row.js-parent-snippet
		.col-12.u-mb-0
			p.u-text-semibold Lorem ipsum dolor sit amet.
			div(hidden)
				p.u-text-semibold.js-snippet
	.row.js-parent-snippet
		.col-12.u-mb-0
			p.u-text-bold Lorem ipsum dolor sit amet.
			div(hidden)
				p.u-text-bold.js-snippet