$black: #333;

$color-grey: #95a5a6;
$color-grey-lightest: mix(white, $color-grey, 66%);
$color-grey-light: mix(white, $color-grey, 33%);
$color-grey-dark: mix(black, $color-grey, 50%);

$color-primary: #246e9f;
$color-primary-lightest: mix(white, $color-primary, 66%);
$color-primary-light: mix(white, $color-primary, 33%);
$color-primary-dark: mix(black, $color-primary, 33%);

$color-secondary: #a05524;
$color-secondary-lightest: mix(white, $color-secondary, 66%);
$color-secondary-light: mix(white, $color-secondary, 33%);
$color-secondary-dark: mix(black, $color-secondary, 33%);

$color-error: #dc372a;
$color-error-lightest: mix(white, $color-error, 66%);
$color-error-light: mix(white, $color-error, 33%);
$color-error-dark: mix(black, $color-error, 33%);

$color-success: #1e874a;
$color-success-lightest: mix(white, $color-success, 66%);
$color-success-light: mix(white, $color-success, 33%);
$color-success-dark: mix(black, $color-success, 33%);

$main-colors: (
	'primary'   : $color-primary,
	'secondary' : $color-secondary,
	'error'     : $color-error,
	'success'   : $color-success
);

$all-colors: (
	'primary'            : $color-primary,
	'primary-lightest'   : $color-primary-lightest,
	'primary-light'      : $color-primary-light,
	'primary-dark'       : $color-primary-dark,
	'secondary'          : $color-secondary,
	'secondary-lightest' : $color-secondary-lightest,
	'secondary-light'    : $color-secondary-light,
	'secondary-dark'     : $color-secondary-dark,
	'error'              : $color-error,
	'error-lightest'     : $color-error-lightest,
	'error-light'        : $color-error-light,
	'error-dark'         : $color-error-dark,
	'success'            : $color-success,
	'success-lightest'   : $color-success-lightest,
	'success-light'      : $color-success-light,
	'success-dark'       : $color-success-dark,
	'grey'               : $color-grey,
	'grey-lightest'      : $color-grey-lightest,
	'grey-light'         : $color-grey-light,
	'grey-dark'          : $color-grey-dark,
	'black'              : $black
);
