/** --------------------------------------------
 * 
 * Enable/disable imports
 * 
 -------------------------------------------- */

/**
 * Form
 */
$enable-form-choices: true;
$enable-form-fieldset: false;
$enable-form-textual-fields: true;
$enable-form-file: true;
$enable-form-prepend-append: true;
$enable-form-input-action: true;
$enable-form-input-with-icon: true;

/**
 * HTML Elements
 */
$enable-blockquote: true;
$enable-descriptions: true;
$enable-headings: true;
$enable-hr: true;
$enable-lists: true;
$enable-table: true;

/**
 * Objects
 */
$enable-skip-links: true;
$enable-preserve-ratio: true;

/**
 * Components
 */
$enable-badge: true;
$enable-breadcrumb: true;
$enable-button: true;
$enable-loader: true;
$enable-pagination: true;
$enable-panel: true;

/**
 * Patterns
 */
$enable-accordion: true;
$enable-dropdown: true;
$enable-modal: true;
$enable-offcanvas: true;
$enable-range: true;
$enable-slider: true;
$enable-tabs: true;
$enable-tooltip: true; // default direction is top
$enable-tooltip-top-mq: true;
$enable-tooltip-bottom: true;
$enable-tooltip-bottom-mq: true;
$enable-tooltip-left: true;
$enable-tooltip-left-mq: true;
$enable-tooltip-right: true;
$enable-tooltip-right-mq: true;


/**
 * Utilities
 */
$enable-colors: true;
$enable-backgrounds: true;
$enable-borders: true;
$enable-flexbox: true;
$enable-position: true;
$enable-radius: true;
$enable-shadow: true;

/** --------------------------------------------
 * 
 * Grid
 * 
 -------------------------------------------- */

/**
 * Generic
 */

$nb-cols: 12;

$spacing: 1rem;

/**
 * Breakpoints
 */

$tiny-screen: 20rem !default;
$small-screen: 36rem !default;
$medium-screen: 48rem !default;
$medium-plus-screen: 62rem !default;
$large-screen: 75rem !default;
$large-plus-screen: 90rem !default;
   
$grid-mq: (
	'small'  : 'sm',
	'medium' : 'md',
	'large'  : 'lg'
);

$mq: (
	'tiny'        : $tiny-screen,
	'small'       : $small-screen,
	'medium'      : $medium-screen,
	'medium-plus' : $medium-plus-screen,
	'large'       : $large-screen,
	'large-plus'  : $large-plus-screen
);
