.col-12
	h2 With actions
	.row.js-parent-snippet
		div(class="col-12 md:col-6 lg:col-4")
			.form-group.js-snippet
				label(for="inputAction1") Label
				+helpMsg('inputAction1-help')
				.input-action 
					input(type='text', id="inputAction1", aria-describedby="inputAction1-help")
					button(type="button", class="btn btn--outline btn--dark") Action
		div(class="col-12 md:col-6 lg:col-4")
			.form-group.error
				label(for="inputAction2") Label
				+errorMsg('inputAction2-error')
				.input-action 
					input(type='text', id="inputAction2", aria-describedby="inputAction2-error")
					button(type="button", class="btn btn--outline btn--dark", aria-label="Action")
						svg(class="icon", aria-hidden="true")
							use(xlink:href="#icon-check")