.col-12
	h2 With actions
	.row.js-parent-snippet
		div(class="col-12 md:col-6 lg:col-4")
			.form-group.js-snippet
				.input-action 
					input(type='text', aria-label='Input text with a stuck button')
					button(type="button", class="btn btn--outline btn--primary") Action
				include message-help.pug
		div(class="col-12 md:col-6 lg:col-4")
			.form-group.error
				.input-action 
					input(type='text', aria-label='Input text with a stuck button')
					button(type="button", class="btn btn--outline btn--primary")
						svg(class="icon")
							title Action
							use(xlink:href="#icon-check")
				include message-error.pug
		div(class="col-12 md:col-6 lg:col-4")
			.form-group.valid
				.input-action 
					input(type='text', aria-label='Input text with a stuck button')
					button(type="button", class="btn btn--outline btn--primary")
						svg(class="icon", aria-hidden="true")
							use(xlink:href="#icon-envelop")
						span Send
				include message-valid.pug