.col-12
	h2 With actions
	.row.js-parent-snippet
		.col-12.col-md-6.col-lg-4
			.form-group.js-snippet
				.input-action 
					input(type='text', aria-label='Input text with a stuck button')
					button(type="button", class="c-btn c-btn--outline c-btn--primary") Action
				include message-help.pug
		.col-12.col-md-6.col-lg-4
			.form-group.error
				.input-action 
					input(type='text', aria-label='Input text with a stuck button')
					button(type="button", class="c-btn c-btn--outline c-btn--primary")
						svg(class="icon")
							title Action
							use(xlink:href="#icon-check")
				include message-error.pug
		.col-12.col-md-6.col-lg-4
			.form-group.valid
				.input-action 
					input(type='text', aria-label='Input text with a stuck button')
					button(type="button", class="c-btn c-btn--outline c-btn--primary")
						svg(class="icon", aria-hidden="true")
							use(xlink:href="#icon-envelop")
						span Send
				include message-valid.pug