.col-12
	h2 Radio &amp; Checkbox
.col-12.mb
	.row.js-parent-snippet
		.col-12.mb
			.js-snippet
				+inputs('1', false, 'Checkboxes', 'checkbox')
.col-12.mb
	.row.js-parent-snippet
		.col-12.mb
			.js-snippet
				+inputs('2', false, 'Radios', 'radio')
.col-12.mb
	.row.js-parent-snippet
		.col-12.mb
			.js-snippet
				+inputs('3', false, 'Switches', 'checkbox', true)
.col-12.mb
	.row.js-parent-snippet
		.col-12.mb
			.js-snippet
				+inputs('4', false, 'Switches', 'radio', true)
.col-12.mb
	.row.js-parent-snippet
		.col-12.mb
			.js-snippet
				+inputs('5', true, 'Inline', 'checkbox')
.col-12
	.row.js-parent-snippet
		.col-12.mb
			.js-snippet
				+inputs('6', true, 'Inline / Error message', 'radio', false, true)