.col-12
	.row.js-parent-snippet
		.col-12
			h2 Select
		div(class="col-12 md:col-6 lg:col-4")
			.form-group
				label(for="select1") Label
				select.js-snippet(id='select1', name='lecture')
					option(label='Choose a Lecture', disabled, selected) Choose a Lecture
					optgroup(label='1.0 The History of the World: Part I')
						option(label='Lecture 1.1', value='1.1') Lecture 1.1: In the Beginning
						option(label='Lecture 1.2', value='1.2') Lecture 1.2: Stuck in the Middle
						option(label='Lecture 1.3', value='1.3', disabled) Lecture 1.3: At the End
					optgroup(label='2.0 The History of the World: Part II', disabled)
						option(label='Lecture 2.2', value='2.1') Lecture 2.1: Wait! There's More
		div(class="col-12 md:col-6 lg:col-4")
			.form-group
				label(for="select2") Label
				select(id='select2')
					option(disabled, selected) Choose one :
					option Value 1
					option Value 2
					option Value 3
		div(class="col-12 md:col-6 lg:col-4")
			.form-group
				label(for="selectSelected") Label
				select(id='selectSelected')
					option Value 1
					option(selected) Value 2
					option Value 3
		div(class="col-12 md:col-6 lg:col-4")
			.form-group
				label(for="selectDisabled") Label
				+helpMsg('selectDisabled-help')
				select(id='selectDisabled', disabled, aria-describedby='selectDisabled-help')
					option Value 1
					option(selected) Value 2
					option Value 3
		div(class="col-12 md:col-6 lg:col-4")
			.form-group.error
				label(for="selectError") Label
				+errorMsg('selectError-error')
				select(id='selectError', aria-describedby='selectError-error')
					option Value 1
					option Value 2
					option Value 3 