.col-12
	h2 Textarea
.col-12
	.row.js-parent-snippet
		div(class="col-12 md:col-6 lg:col-4")
			.form-group
				label(for="textareaWithoutValue") Label
				textarea(placeholder="Placeholder", id="textareaWithoutValue")
		div(class="col-12 md:col-6 lg:col-4")
			.form-group
				label(for="textareaWithValue") Label
				textarea(id="textareaWithValue") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere atque dicta et consequuntur.
		div(class="col-12 md:col-6 lg:col-4")
			.form-group
				label(for="textareaReadonly") Label
				textarea(readonly, id="textareaReadonly") (readonly) Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere atque dicta et consequuntur.
		div(class="col-12 md:col-6 lg:col-4")
			.form-group
				label(for="textareaDisabled") Label
				+helpMsg('textareaDisabled-help')
				textarea.js-snippet(disabled, id="textareaDisabled", aria-describedby="textareaDisabled-help") (disabled) Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere atque dicta et consequuntur.
		div(class="col-12 md:col-6 lg:col-4")
			.form-group.error
				label(for="textareaError") Label
				+errorMsg('textareaError-error')
				textarea(id="textareaError", aria-describedby="textareaError-error") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere atque dicta et consequuntur.