footer.p-4.bg-primary.text-center.text-white#footer(role="contentinfo")
	h2.text-reset.text-center Footer
	p Basset Hound Icon made by <a href="https://www.flaticon.com/authors/vitaly-gorbachev" target="_blank" class="text-reset" rel="noopener noreferrer" aria-describedby="new-window">Vitaly Gorbachev <svg class="icon" aria-hidden="true"><use xlink:href="#icon-new-tab"></use></svg></a>&nbsp;from <a href="https://www.flaticon.com/" target="_blank" class="text-reset" rel="noopener noreferrer" aria-describedby="new-window"> www.flaticon.com <svg class="icon" aria-hidden="true"><use xlink:href="#icon-new-tab"></use></svg></a>.

div(hidden)
	#new-window Ce lien ouvre un nouvel onglet.