//--- Essential
meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="IE=Edge")
block title-page
	title Framework

//--- Styles
block styles
	link(href="../../../css/styles.min.css", rel="stylesheet", media="all")  
	link(href="../../../css/styles-sm.min.css", rel="stylesheet", media="(min-width: 36rem)")  
	link(href="../../../css/styles-md.min.css", rel="stylesheet", media="(min-width: 48rem)")  
	link(href="../../../css/styles-lg.min.css", rel="stylesheet", media="(min-width: 75rem)")  

//--- Favicons
//- 32×32
link(rel="icon", href="/framework-2021/favicon.ico")
//- 
link(rel="icon", href="/framework-2021/favicon.svg", type="image/svg+xml")
//- 180×180 canvas (140x140 img)
link(rel="apple-touch-icon", href="/framework-2021/apple-touch-icon.png")

//--- Scripts
block scripts-header

//--- Short description of the document (limit to 150 characters)
meta(name="description", content="")

//--- Facebook & Linkedin
meta(property="og:url", content="")
//- article, video, music, book, website (default), profile
meta(property="og:type", content="article")
meta(property="og:title", content="")
meta(property="og:description", content="Content description less than 200 characters")
	//- Ratio 1,91:1 (2:1 is allowed but img will be cropped)
meta(property="og:image", content="")

//--- Twitter
meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:site', content='@site_account')
meta(name='twitter:url', content='https://...')
meta(name='twitter:title', content='Content Title')
meta(name='twitter:description', content='Content description less than 200 characters')
//- Ratio 2:1, 300x157 min, 4096x4096 max, < 5 MB
meta(name='twitter:image', content='https://...')