header.bg-white.border-bottom.border-grey(role="banner")
	.container.container--fluid
		.row.align-center.pt
			div(class="col-auto mb")
				h1.d-flex.align-center.h3-like
					img(src="dest/img/svg/logo.svg", width="40", height="40", alt="")
					span.ml BaCSSet
			div(class="col-auto mb-0.5 ml-a")
				nav.d-flex.flex-wrap.align-center(role="navigation")
					a(href="dest/pages/stylesguide/cheatsheet", class="btn btn--dark ml-0.5 mb-0.5")
						svg(class="icon", aria-hidden="true")
							use(xlink:href="#icon-code")
						span Styles guide
					a(href="dest/pages/demo", class="btn btn--dark ml-0.5 mb-0.5")
						svg(class="icon", aria-hidden="true")
							use(xlink:href="#icon-eye")
						span Demo page