%hidden {
	position: absolute !important;
	width: 1px !important;
	height: auto !important;
	padding: 0 !important;
	border: 0 !important;
	margin: 0 !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
}
