mixin table(classes)
	table(class=classes)
		caption Caption
		thead.thead-default
			tr
				th(scope="col") Référence de commande
				th(scope="col") Date
				th(scope="col") Prix total
				th(scope="col") Paiement
		tbody
			tr
				td XKBKNABJK
				td 12/02/2020
				td 61,80 €
				td Payment by check
			tr
				td XKBKNABJK
				td 12/02/2020
				td 61,80 €
				td Payment by check
			tr
				td XKBKNABJK
				td 12/02/2020
				td 61,80 €
				td Payment by check

section.section.js-menu#Tables
	.row
		.col-12
			h1.section__title Tables
		.col-12
			.u-bg-lightgrey.u-p 
				p <b>Notes :</b>
				ul
					li Pour des tableaux complexes : <a href="https://www.w3.org/WAI/tutorials/tables/" target="_blank" rel="noopener">w3.org/WAI/tutorials/tables</a>
	.row.js-parent-snippet
		.col-12
			.table-responsive.js-snippet
				+table