section.section.js-menu#Headings
	.row.js-parent-snippet
		.col-12
			h1.section__title Headings
		.col-12
			.js-snippet
				h1 Level 1 heading text
				h2 Level 2 heading text
				h3 Level 3 heading text
				h4 Level 4 heading text
				h5 Level 5 heading text
				h6 Level 6 heading text

section.section.js-menu#Text
	.row
		.col-12
			h1.section__title Text
		div(class="col-12 lg:col-6 lg:mb-0")
			h2 Vero delectus quibusdam
			p Lorem ipsum dolor sit amet, <a href="#">consectetur adipisicing elit</a>. Porro aliquam vero, <b>quidem error nisi</b> quaerat, nobis rem eius. Quidem id numquam voluptate, <i>vero delectus quibusdam</i>. Necessitatibus quaerat architecto, ullam earum!
			dl
				dt Firefox
				dd Un navigateur Web libre, open-source, multi-plateforme dévelopé par la Mozilla Corporation et des centaines de volontaires.
				dt Chrome
				dd Chrome has everything you need to make the most of the web, like quick answers in your address bar, one-click translation, and personalized articles.
			hr
			p 
				a(href="#", target="_blank", rel="noopener", aria-describedby="new-window") 
					| Lorem ipsum dolor
					svg(class="icon", aria-hidden="true")
						use(xlink:href="#icon-new-tab")
				| &nbsp;sit amet, consectetur adipisicing elit. Porro aliquam vero, quidem error nisi quaerat, nobis rem eius. Quidem id numquam voluptate, vero delectus quibusdam. Necessitatibus quaerat architecto, ullam earum 35<sup>€</sup><sub>99</sub>.
		div(class="col-12 lg:col-6 mb-0")
			h3 Porro aliquam vero
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro aliquam vero, quidem error nisi quaerat, nobis rem eius. Quidem id numquam voluptate, vero delectus quibusdam. Necessitatibus quaerat architecto, ullam earum!
			blockquote
				| Blockquote consectetur adipisicing elit. Blanditiis ratione neque consectetur ipsa saepe, dolor tenetur non voluptate nostrum sapiente, ipsam quos! Expedita quis vel est at ex dolorum nemo.
			ul
				li List item
				li List item 
					ul 
						li List subitem
						li List subitem
						li List subitem
				li List item
			ol
				li List item
				li List item 
					ol 
						li List subitem
						li List subitem
						li List subitem
				li List item