@if $enable-skip-links {
	.o-skip-links {
		padding: var(--spacing);
		background-color: #fff;

		&:focus-within {
			position: fixed;
			left: 0;
			z-index: var(--z-max);
			width: auto;
			overflow: visible;
			clip: auto;
			white-space: normal;
		}

		a {
			display: inline-block;
			margin-right: var(--spacing);
		}
	}

}
