.o-sticky-bar {
	position: sticky;
	z-index: 3;
	bottom: -1px;
	box-shadow: 0 rem(-2px) rem(16px) rgba(#000, 0.08);
	background-color: #fff;

	&--static-lg {
		@include large {
			position: static;
			box-shadow: none;
		}
	}

	&.has-reached-footer {
		height: 0 !important;
		padding: 0 !important;
		overflow: hidden;
	}
}