$assets-base-path: '../../';

@import '../abstracts';

main {
	counter-reset: faq-item;
}

details {
	--p: var(--spacing);
	--i: 0;
	border: 1px solid var(--color-lightgrey);
	margin-bottom: var(--spacing);
	border-radius: rem(5px);
	overflow: hidden;
	transition: border-color .2s;

	@include medium {
		--p: calc(var(--spacing) * 1.5);
		margin-bottom: var(--spacing-double);
	}

	&:hover,
	&:focus-within {
		border-color: var(--color-primary);
	}

	&[open] {
		--i: 1;
	}

	summary {
		padding: var(--p);
		list-style: none;
		cursor: pointer;
		outline: none;
		transition: color .2s, background-color .2s;

		&:hover,
		&.focus-visible {
			//color: #fff;
			background-color: var(--color-primary-lightest);
		}

		&::-webkit-details-marker {
			display: none;
		}

		.icon {
			flex: 0 0 auto;
			fill: var(--color-primary);
			transform: rotate(calc(180deg * var(--i)));
			transition: transform .2s;
		}

		div { // iOS doesn't support flexbox on summary element
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		span {
			&::before {
				content: counter(faq-item) " . ";
				counter-increment: faq-item;
				font-weight: $semibold;
				color: var(--color-primary);
			}
		}
	}

	> div {
		border-top: 1px solid var(--color-lightgrey);
		padding-top: var(--p);
		margin: 0 var(--p) var(--p);
		font-size: rem(14px);	

		@include medium {
			font-size: rem(16px);	
		}
	}
} 