/**
 * 
 */


:root {
	--header-height: #{rem(70px)};
	--header-shadow: 0 #{rem(2px)} #{rem(16px)} rgba(0, 0, 0, 0.1);
	--header-bgcolor: #fff;

	@include large {
		--header-height: #{rem(90px)};
	}
}

.main-header {
	position: sticky;
	z-index: var(--z-header);
	top: 0;
	box-shadow: var(--header-shadow);
	background-color: var(--header-bgcolor);
	transition: box-shadow 0.2s, background-color 0.2s, transform 0.3s;

	@include medium {
		position: relative;
	}

	&__content {
		height: var(--header-height);
	}

	&__logo {
		display: block;
		width: rem(150px);
		filter: var(--logo-filter, none);
		transition: filter 0.2s;

		@include large {
			width: rem(200px);
		}
	}

	&--alternative {
		--header-bgcolor: rgba(0, 0, 0, 0.35);
		--logo-filter: brightness(0) invert(1);

		body.header-is-sticky & {
			--header-bgcolor: #fff;
			--logo-filter: none;

			@include medium {
				--header-bgcolor: rgba(0, 0, 0, 0.35);
				--logo-filter: brightness(0) invert(1);
			}
		}

		body.menu-mobile-offcanvas-is-open:not(.header-is-sticky) & {
			--header-bgcolor: #fff;
			--logo-filter: none;

			@include medium {
				--header-bgcolor: rgba(0, 0, 0, 0.35);
				--logo-filter: brightness(0) invert(1);
			}
		}
	}

	body.page-coaching-deco & {
		&.is-hidden-by-scroll-down {
			transform: translateY(-100%);

			@include medium {
				transform: none;
			}
		}
	}
}

.scroll-to-top {
	@include large {
		position: fixed;
		z-index: var(--z-overlay);
		bottom: calc(var(--spacing) * 7);
		right: calc(var(--spacing) * 1.5);
		box-shadow: 0 rem(4px) rem(16px) rgba(#000, 0.16);
		transform: translateY(-50%);
		opacity: 0;
		transition: transform 0.2s, opacity 0.2s;

		body.header-is-sticky & {
			transform: none;
			opacity: 1;
		}
	} 
}

.mobile-user-tab {
	.main-header--alternative & {
		--c: #fff;
	}

	body.menu-mobile-offcanvas-is-open &,
	body.header-is-sticky & {
		--c: var(--color-black);
	}

	@include medium {
		display: none;
	}
}

[id|="_hj"][data-device][data-viewmode] {
	bottom: rem(80px) !important;
}