.lazyload {
	opacity: 0;
}

.lazyloaded,
.lazyloading {
	opacity: 1;
	transition: opacity 0.3s;
}

img.lazyloading {
	background: svg('spinner.svg') no-repeat center;
	background-size: auto 50%;

	&[data-src$='.jpg'],
	&[data-src$='.jpeg'] {
		background-color: var(--color-lightgrey);
	}
}
