$assets-base-path: '../../../';

@import '../../abstracts';

.custom-upload-img {
	--bc: var(--color-lightgrey);
	--preview-shadow: none;
	--preview-display: none;
	--content-display: flex;
	--delete-display: none;

	&:hover,
	.focus-visible + & {
		--bc: var(--color-primary);
	}

	&--filled {
		--preview-display: block;
		--content-display: none;
		--delete-display: inline-flex;

		&:hover,
		.focus-visible + & {
			--preview-shadow: 0 0 0 #{rem(4px)} var(--color-primary);
		}
	}

	.o-preserve-ratio {
		overflow: visible;
	}

	&__preview {
		display: var(--preview-display);
		border-radius: rem(8px);
		box-shadow: var(--preview-shadow);
		transition: box-shadow 0.2s;

		&[src$="file-pdf.svg"] {
			background-color: #fff;
		}
	}

	&__delete {
		position: absolute;
		top: var(--spacing);
		left: var(--spacing);
		width: auto;
		height: auto;
		display: var(--delete-display);
		padding: var(--spacing-half);
		border-color: #fff;
		color: var(--color-black);
		background-color: #fff;

		&:hover,
		&.focus-visible {
			color: var(--color-error);
		}

		&.focus-visible {
			outline-color: var(--color-error);
			outline-style: solid;
			outline-width: 0.2rem;
		}
	}

	&__content {
		display: var(--content-display);
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: var(--spacing-half);
		border: rem(4px) dashed var(--bc);
		text-align: center;
		font-size: rem(13px);
		border-radius: rem(8px);
		background-color: #fff;
		transition: border-color 0.2s;

		span {
			text-decoration: underline;
		}

		.icon {
			margin-bottom: var(--spacing);
			font-size: 5.6em;
			color: var(--color-lightgrey);
		}
	}
}