$assets-base-path: '../../../';

@import '../../abstracts';

.curly-arrow {
	position: absolute;
	left: #{rem(5px)};
	bottom: calc(100% + #{rem(20px)});
	//transform: translateY(50%);
	pointer-events: none;

	@include mq('375px') {
		left: calc(var(--spacing) + #{rem(9px)});
		bottom: calc(100% + #{rem(10px)});
	}

	@include medium {
		display: none;
	}

	@include large {
		display: block;
		bottom: calc(100% - #{rem(12px)});
	}
}

.fake-bg {
	&::before {
		@include large {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: calc(var(--spacing-double) * -1);
			width: 75vw;
			background-color: #fff;
			box-shadow: 50vw 0 0 #fff;
		}
		@include large-plus {
			left: calc(((100vw - #{$large-plus-screen}) / 2  + var(--spacing)) * -1);
		}
	}
}

.modal-slider {
	background-color: var(--color-primary-lightest);

	&__content {
		display: flex;
		padding: var(--spacing) var(--spacing) var(--spacing) 0;
		overflow-x: auto;
		//scroll-snap-type: x mandatory;
		opacity: 0;
		animation: o-fade-in 0.3s 0.3s linear forwards;
		@include scrollbar(rem(15px), $black);

		@include medium {
			padding: var(--spacing-double) var(--spacing-double) var(--spacing-double);
		}
	}

	&__item {
		--w: 95%;
		display: flex;
		flex: 0 0 auto;
		max-width: var(--w);
		padding-left: var(--spacing);
		scroll-snap-align: start;

		@include small-plus {
			--w: 85%;
		}

		@include medium {
			--w: #{rem(450px)};

			&:first-child {
				//max-width: calc(var(--w) + var(--spacing));
				//padding-left: var(--spacing-double);
			}
		}

		@include large {
			--w: var(--w-large, #{rem(550px)});
		}

		&:last-child {
			max-width: calc(var(--w) + var(--spacing));
			padding-right: var(--spacing);

			@include medium {
				max-width: calc(var(--w) + var(--spacing-double));
				padding-right: var(--spacing-double);
			}
		}
	}

	.c-style {
		width: 100%;

		&__content {
			height: 100%;
		}
	}

	.c-inspiration {
		width: 100%;
	}
}

.js-equalize-height-vibes {
	@include large {
		height: var(--h, auto); 
	}
}

.toggle-modal-more-infos {
	--font-size: #{rem(14px)};
	display: inline-block;
	padding: 0;
	border: 0;
	margin: 0 var(--spacing-half);
	vertical-align: baseline;
	background-color: transparent;
} 