$assets-base-path: '../../../';

@import '../../abstracts';

.Q1-layout {
	@include medium {
		--mb: #{rem(8px)}; // correspond to input's shadow size
		column-count: 2;
		margin-bottom: calc(var(--mb) * -1);
	}

	&__item {
		@include medium {
			padding-bottom: var(--mb);
			break-inside: avoid;
			overflow: hidden; // For Firefox
		}
	}
}

.toggle-modal-more-infos {
	--font-size: #{rem(14px)};
	display: inline-block;
	padding: 0;
	border: 0;
	margin: 0 var(--spacing-half);
	vertical-align: baseline;
	background-color: transparent;
} 