.row
	.col-12.col-md-6
		button(type="button", class="c-btn c-btn--block c-btn--primary") Primary button
	.col-12.col-md-6
		button(type="button", class="c-btn c-btn--block c-btn--secondary") Secondary button
	.col-12.col-md-6
		button(type="button", class="c-btn c-btn--block c-btn--outline c-btn--primary") Outlined primary
	.col-12.col-md-6
		button(type="button", class="c-btn c-btn--block c-btn--primary", disabled) Disabled button
	.col-12.col-md-6
		button(type="button", class="c-btn c-btn--block c-btn--success") Success button
	.col-12.col-md-6
		button(type="button", class="c-btn c-btn--block c-btn--error") Error button
	.col-12.col-md-6
		button(type="button", class="c-btn c-btn--block c-btn--primary c-btn--large") Large button
	.col-12.col-md-6
		button(type="button", class="c-btn c-btn--block c-btn--primary c-btn--small") Small button
	.col-12.col-md-6
		button(type="button", class="c-btn c-btn--block c-btn--primary") 
			svg(class="icon", aria-hidden="true")
				use(xlink:href="#icon-x")
			span Button with icon
	.col-12.col-md-auto
		button(type="button", class="c-btn c-btn--primary c-btn--icon-only") 
			svg(class="icon")
				title Text button
				use(xlink:href="#icon-x")