.row
	.col-12.col-md-6
		button(type="button", class="btn btn--block btn--primary") Primary button
	.col-12.col-md-6
		button(type="button", class="btn btn--block btn--secondary") Secondary button
	.col-12.col-md-6
		button(type="button", class="btn btn--block btn--outline btn--primary") Outlined primary
	.col-12.col-md-6
		button(type="button", class="btn btn--block btn--primary", disabled) Disabled button
	.col-12.col-md-6
		button(type="button", class="btn btn--block btn--success") Success button
	.col-12.col-md-6
		button(type="button", class="btn btn--block btn--error") Error button
	.col-12.col-md-6
		button(type="button", class="btn btn--block btn--primary btn--large") Large button
	.col-12.col-md-6
		button(type="button", class="btn btn--block btn--primary btn--small") Small button
	.col-12.col-md-6
		button(type="button", class="btn btn--block btn--primary") 
			svg(class="icon", aria-hidden="true")
				use(xlink:href="#icon-x")
			span Button with icon
	.col-12.col-md-auto
		button(type="button", class="btn btn--primary btn--icon-only") 
			svg(class="icon")
				title Text button
				use(xlink:href="#icon-x")