.row
	div(class="col-12 md:col-6")
		button(type="button", class="btn btn--block btn--primary") Primary button
	div(class="col-12 md:col-6")
		button(type="button", class="btn btn--block btn--secondary") Secondary button
	div(class="col-12 md:col-6")
		button(type="button", class="btn btn--block btn--outline btn--primary") Outlined primary
	div(class="col-12 md:col-6")
		button(type="button", class="btn btn--block btn--primary", disabled) Disabled button
	div(class="col-12 md:col-6")
		button(type="button", class="btn btn--block btn--success") Success button
	div(class="col-12 md:col-6")
		button(type="button", class="btn btn--block btn--error") Error button
	div(class="col-12 md:col-6")
		button(type="button", class="btn btn--block btn--primary btn--large") Large button
	div(class="col-12 md:col-6")
		button(type="button", class="btn btn--block btn--primary btn--small") Small button
	div(class="col-12 md:col-6")
		button(type="button", class="btn btn--block btn--primary") 
			svg(class="icon", aria-hidden="true")
				use(xlink:href="#icon-x")
			span Button with icon
	div(class="col-12 md:col-auto")
		button(type="button", class="btn btn--primary btn--icon-only") 
			svg(class="icon")
				title Text button
				use(xlink:href="#icon-x")