mixin color(color, shades)
	.col-12.mb-0
		.pt.pb-2(class="bg-"+color)
	if shades
		.col-3.mb-0
			div(class="pt pb-0.5 bg-"+color+"-lightest")
		.col-3.mb-0
			div(class="pt pb-0.5 bg-"+color+"-light")
		.col-3.mb-0
			div(class="pt pb-0.5 bg-"+color)
		.col-3.mb-0
			div(class="pt pb-0.5 bg-"+color+"-dark")
	div(class="col-12 mt-0.25")
		.text-semibold= color.charAt(0).toUpperCase() + color.slice(1)

.row.no-gutters
	+color('primary', true)
	+color('secondary', true)
	+color('error', true)
	+color('success', true)
	div(class="col-12 mb-0")
		div(class="bg-grey py")
	div(class="col-6 mb-0")
		div(class="bg-lightgrey py-0.5")
	div(class="col-6 mb-0")
		div(class="bg-darkgrey py-0.5")
	div(class="col-12 mt-0.25")
		.text-semibold Neutral
	+color('black', false)