.row
	div(class="col-12 md:col-6 lg:col-4")
		.form-group
			label(for="cheatSheetInput1") Default input
			+helpMsg('inputDesc')
			input(type="text", id="cheatSheetInput1", placeholder="Placeholder", aria-describedby="inputDesc")
	div(class="col-12 md:col-6 lg:col-4")
		.form-group
			label(for="cheatSheetInput2") Disabled input
			input(type="text", id="cheatSheetInput2", placeholder="Placeholder", disabled)
	div(class="col-12 md:col-6 lg:col-4")
		.form-group
			label(for="cheatSheetInput3") Read-only input
			input(type="text", id="cheatSheetInput3", placeholder="Placeholder", value="Text", readonly)
	div(class="col-12 md:col-6 lg:col-4")
		.form-group.error
			label(for="cheatSheetInput5") Invalid input
			+errorMsg('inputError')
			input(type="text", id="cheatSheetInput5", placeholder="Placeholder", aria-describedby="inputError")
	div(class="col-12 md:col-6 lg:col-4")
		.form-group
			label(for="cheatSheetSelect") Select
			select(id="cheatSheetSelect")
				option Opt 1
				option Opt 2
	.col-12
		.form-group
			label(for="cheatSheetTextarea") Textarea
			+helpMsg('textareaDesc')
			textarea(placeholder="Placeholder", id="cheatSheetTextarea", aria-describedby="textareaDesc")
	div(class="col-12 md:col-4 md:mb-0")
		+inputs('1', false, 'Checkboxes', 'checkbox')
	div(class="col-12 md:col-4 md:mb-0")
		+inputs('2', false, 'Radios', 'radio')
	div(class="col-12 md:col-4 md:mb-0")
		+inputs('3', false, 'Switches', 'checkbox', true)