extends ../stylesguide.pug
 
block append vars
	- var sectionTitle = 'Cheatsheet';

block content
	section.section
		.row
			.col-12.mt
				.cheatsheet
					.a-colors 
						.legend Colors
						include colors.pug
					.a-typography 
						.legend Typography
						include typography.pug
					.a-buttons 
						.legend Buttons
						include buttons.pug
					.a-links 
						.legend Links
						include links.pug
					.a-form 
						.legend Form
						include form.pug