mixin panel(id, classes, closable, longContent)
	if(closable)
		- classes = classes + ' c-panel--closable';
	.c-panel(class=classes, id="msg_"+id)&attributes({"aria-hidden='false'": closable==true})
		.c-panel__content 
			if(longContent)
				h3.c-panel__title Title
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur <a href="#">distinctio sequi</a> nihil qui assumenda, excepturi mollitia harum magni amet ut ipsa <b>expedita minima ea</b>, rem laudantium reiciendis <i>reprehenderit pariatur in</i>.
				hr
				p Nihil qui assumenda, excepturi mollitia harum magni amet ut ipsa expedita minima ea rem laudantium reiciendis, reprehenderit.
			else
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur <a href="#">distinctio sequi</a> nihil.
		if(closable)
			button(type="button", class="c-panel__close", data-toggle-class, data-toggle-target-only, data-toggle-target="#msg_"+id, data-toggle-is-active) 
				svg(class="icon")
					title Cacher ce message
					use(xlink:href="#icon-x")

.row
	.col-12
		+panel('c1', 'c-panel--primary')
	.col-12
		+panel('c2', 'c-panel--error', true)
	.col-12
		+panel('c3', 'c-panel--secondary', true, true)