mixin weight(val)
	- var content = '<div class="mb-0.5 h1-like lh-1">Aa</div><div class="lh-1 fs-4">'+val.charAt(0).toUpperCase() + val.slice(1)+'</div>';
	.col
		if val !== 'normal'
			div(class="fw-" + val) 
				| !{content}
		else 
			| !{content}

.row.mb
	+weight('bold')
	+weight('semibold')
	+weight('regular')

.row
	.col-12.col-md
			p(class="caps fw-semibold text-primary") Headlines
			h1 H1 Heading
			h2 H2 Heading
			h3 H3 Heading
			h4 H4 Heading
			h5 H5 Heading
			h6 H6 Heading
	.col-12.col-md
			p(class="caps fw-semibold text-primary") Body text
			p Jelly beans chocolate cake dessert chocolate. Wafer gingerbread topping macaroon cupcake tiramisu.
			p.fw-semibold Croissant cookie biscuit cake. Dessert lollipop sesame snaps chocolate bar jujubes.
			p
				i Tootsie roll jelly beans lollipop apple pie liquorice pastry dragée.
			p.fs-smaller Caramels tart jelly gummi bears dessert biscuit fruitcake marshmallow. Liquorice apple pie danish croissant jelly donut.
			p.fs-larger Croissant sweet wafer cookie sweet roll wafer sesame snaps pie jujubes. Bear claw donut chocolate macaroon.