mixin weight(val)
	- var content = '<div class="u-mb-half" style="font-size: calc(2 * var(--spacing)); line-height: 1">Aa<br></div><div style="font-size: calc(0.8 * var(--spacing)); line-height: 1">'+val.charAt(0).toUpperCase() + val.slice(1)+'</div>';
	.col
		if val !== 'normal'
			div(class="u-fw-" + val) 
				| !{content}
		else 
			| !{content}

.row.u-mb
	+weight('bold')
	+weight('semibold')
	+weight('regular')

.row
	.col-12.col-md
			p(class="u-caps u-fw-semibold u-text-primary") Headlines
			h1 H1 Heading
			h2 H2 Heading
			h3 H3 Heading
			h4 H4 Heading
			h5 H5 Heading
			h6 H6 Heading
	.col-12.col-md
			p(class="u-caps u-fw-semibold u-text-primary") Body text
			p Jelly beans chocolate cake dessert chocolate. Wafer gingerbread topping macaroon cupcake tiramisu.
			p.u-fw-semibold Croissant cookie biscuit cake. Dessert lollipop sesame snaps chocolate bar jujubes.
			p
				i Tootsie roll jelly beans lollipop apple pie liquorice pastry dragée.
			p.u-fs-smaller Caramels tart jelly gummi bears dessert biscuit fruitcake marshmallow. Liquorice apple pie danish croissant jelly donut.
			p.u-fs-larger Croissant sweet wafer cookie sweet roll wafer sesame snaps pie jujubes. Bear claw donut chocolate macaroon.