extends ../../wrapper.pug

mixin linkMenu(name)
	li 
		a(href="dest/pages/stylesguide/"+name.toLowerCase(), class={'active': name==sectionTitle}) #{name}

block title-page
	title Styles Guide - BaCSSet

block vars
	- var bodyClass = 'stylesguide-page';

block append styles
	link(href="dest/css/pages/stylesguide.min.css", rel="stylesheet")

block main
	.container.container--fluid.px-0
		
		.row.no-gutters

			div(class="col-12 md:col-3 lg:col-2 px-0 mb-0 menu-stylesguide")

				ul#menuStylesguide.list-unstyled(data-computed-style="width, height", data-computed-style-name="menu")
					+linkMenu('Cheatsheet')
					+linkMenu('Elements')
					+linkMenu('Objects')
					+linkMenu('Components')
					+linkMenu('Patterns')
					+linkMenu('Utilities')
					+linkMenu('Misc')

			div(class="col-12 md:col-9 lg:col-10 px-0 mb-0")
				 
				h2.god-section-title #{sectionTitle} 
				div(class="container md:py md:px-2")
					block content

block prepend scripts-footer
		script(src="node_modules/prismjs/prism.js")
		script(src="node_modules/prismjs/plugins/toolbar/prism-toolbar.js")
		script(src="node_modules/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.js")
		script(src="dest/js/pages/stylesguide.min.js")

block append scripts-footer
		script(src="dest/js/components/sliders.min.js")
		script(src="dest/js/components/modals.min.js")
		script(src="dest/js/components/offcanvas.min.js")