extends ../../wrapper.pug

mixin linkMenu(name)
	li 
		a(href="../"+name.toLowerCase(), class={'active': name==sectionTitle}) #{name}

block title-page
	title Styles Guide - Framework

block vars
	- var bodyClass = 'stylesguide-page';

block append styles
	link(href="../../../css/pages/stylesguide.min.css", rel="stylesheet")

block main
	.container.container--fluid.u-px-0
		
		.row.no-gutters

			.col-12.col-md-3.col-lg-2.u-px-0.u-mb-0.menu-stylesguide

				ul#menuStylesguide.list-unstyled(data-computed-style="width, height", data-computed-style-name="menu")
					+linkMenu('Cheatsheet')
					+linkMenu('Elements')
					+linkMenu('Objects')
					+linkMenu('Components')
					+linkMenu('Patterns')
					+linkMenu('Utilities')
					+linkMenu('Misc')
					+linkMenu('Layout')

			.col-12.col-md-9.col-lg-10.u-px-0.u-mb-0
				 
				.god-section-title #{sectionTitle} 
				.container.u-py-md.u-px-md-double
					block content

block append scripts-footer
		script(src="../../../js/vendors/prism.js")
		script(src="../../../js/vendors/prism-toolbar.js")
		script(src="../../../js/vendors/prism-copy-to-clipboard.js")
		script(src="../../../js/pages/stylesguide.min.js")
		script(src="../../../js/components/sliders.min.js")
		script(src="../../../js/components/modals.min.js")
		script(src="../../../js/components/offcanvas.min.js")