section.section.js-menu#Grid
	.row
		.col-12
			h3.section__title#rows Rows
		each val in ['justify-between', 'justify-around', 'justify-center']
			.col-12
				.section__content
					.container
						.row(class=''+val)
							.col-3
								| col-3
							.col-3
								| col-3
							.col-3
								| col-3
				div(class="row js-parent-snippet mt-0.5")
					.row(class='d-none js-snippet '+val) ...
		each val in ['align-start', 'align-center', 'align-end']
			.col-12
				.section__content
					.container
						.row.justify-center(class=''+val)
							.col-4(style="min-height: 60px")
								| col-4
							.col-4
								| col-4
				div(class="row js-parent-snippet mt-0.5")
					.row(class='d-none js-snippet '+val) ...
		.col-12
			h3.section__title#columns Columns
		.col-12
			.section__content
				.container
					.row
						- var n = 1;
						while n <= 12
							.col-1.px-0.border-transparent.bg-primary.text-white.border-left.border-right= n
							- n++; 
					.row
						div(class="col")
							| col
					.row
						div(class="col")
							| col
						div(class="col")
							| col
					.row
						div(class="col")
							| col
						div(class="col")
							| col
						div(class="col")
							| col
					.row
						div(class="col-4")
							| col-4
						div(class="col-auto")
							| col-auto
						div(class="col")
							| col
					.row
						div(class="col-6 sm:col-4")
							| col-6 sm:col-4
						div(class="col")
							| col
					.row
						div(class="col-12 md:col-4 lg:col-3")
							| col-12 md:col-4 lg:col-3
						div(class="col-12 md:col-4 lg:col-3")
							| col-12 md:col-4 lg:col-3
						div(class="col-12 md:col-4 lg:col-3")
							| col-12 md:col-4 lg:col-3
					.row
						div(class="col-6 offset-3")
							| col-6 offset-3
					.row
						div(class="col-4 md:order-1")
							| col-4 md:order-1 
						div(class="col-4")
							| col-4
					.row
						div(class="col-12 md:col-3 md:order-1")
							| col-12 md:col-3 md:order-1 
						div(class="col-12 md:col-3 md:order-last")
							| col-3 md:order-last 
						div(class="col-3")
							| col-3