@if $enable-form-choices {
	.form-check {
		--mr: var(--sp-2);
		display: flex;
		align-items: center;

		&:not(:only-child),
		&:not(:first-child) { 
			margin-top: var(--sp-1-2);
		}

		&--inline {
			display: inline-flex;
			margin-right: var(--mr);
		}
	}

	[type='radio'],
	[type='checkbox'] {
		+ label {
			--size: #{rem(21px)};
			--active: #{$input-focus-border-color};
			--active-inner: #fff;
			--border: #{$input-border-color};
			--border-hover: #{$input-hover-border-color};
			--bg-c: #{$input-background-color};
			--disabled: var(--color-grey-lightest);
			--circle-primary: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='#246e9f'/%3e%3c/svg%3e");
			--circle-white: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='#fff'/%3e%3c/svg%3e");
			--circle-grey: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='#676a6d'/%3e%3c/svg%3e");
			--chevron-white: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
			--chevron-grey: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='#676a6d' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
			display: flex;
			align-items: center;
			margin-bottom: 0;
			font-size: rem(14px);
			font-weight: $regular;
			line-height: 1.5;

			.error & { color: var(--color-error); }
			// .valid & { color: var(--color-success); }

			&::before {
				content: '';
				flex-shrink: 0;
				width: var(--size);
				height: var(--size);
				border: $input-border-width solid var(--bc, var(--border));
				margin-right: calc(var(--mr) / 2);
				border-radius: var(--r, var(--radius));
				background: var(--b, none) no-repeat var(--bp, center);
				background-color: var(--bg-c);
				transition: background 0.3s, border-color 0.3s;
			}

			&:hover { --bc: var(--border-hover); }
		}

		&:focus,
		&:focus-visible {
			+ label::before {
				outline-offset: 4px;
			}
		}

		&:focus:not(:focus-visible) {
			+ label::before {
				outline: 0;
			}
		}

		&:focus-visible {
			+ label::before {
				outline-style: auto;
			}
		}

		&:checked {
			+ label {
				--bg-c: var(--active);
				--bc: var(--active);
			}
		}

		&:disabled {
			+ label {
				--bg-c: var(--disabled);
				--bc: var(--border);
				cursor: not-allowed;
			}
		}

		&.switch {
			+ label {
				--bp: left center;
				--b: var(--circle-primary);
				--r: #{rem(5000px)};

				&::before { width: calc(var(--size) * 2); }
			}

			&:disabled {
				+ label {  --b: var(--circle-grey); }

				&:checked {
					+ label { --b: var(--circle-primary); }
				}
			}

			&:checked {
				+ label {
					--bp: right center;
					--b: var(--circle-white);
				}
			}
		}
	}

	[type='checkbox'] {
		&:checked {
			+ label { --b: var(--chevron-white); }

			&:disabled {
				+ label { --b: var(--chevron-grey); }
			}
		}
	}

	[type='radio'] {
		+ label { --r: 50%; }

		&:checked {
			+ label { --b: var(--circle-white); }

			&:disabled {
				+ label { --b: var(--circle-grey); }
			}
		}
	}
}
