@if $enable-form-fieldset {
	fieldset {
		padding: calc(var(--sp) / 1.125) var(--sp) calc(var(--sp) / 2) var(--sp);
		border: 2px solid $lightgrey;
		margin: 0;

		legend {
			padding: 0 calc(var(--sp) / 1.75);
			font-weight: $bold;
		}

		.row {
			padding: 0;
		}
	}
}
