.label,
label[for] {
	display: block;
	margin-bottom: 0.5rem;
	font-size: 1rem;
	font-weight: $semibold;
	line-height: 1.25;

	abbr {
		font-weight: $bold;
		text-decoration: none;
		color: var(--color-primary);
	}
}

label[for] {
	cursor: pointer;
}
