section.section.js-menu#Preserve-ratio
	.row
		.col-12
			h1.section__title Preserve ratio element
	.row.js-parent-snippet
		.col-6.col-md-3
			h2 1:1
			.o-preserve-ratio.o-preserve-ratio--square.js-snippet
				img(src="https://picsum.photos/400/200", loading="lazy", alt="")
		.col-6.col-md-3
			h2 4:3
			.o-preserve-ratio.o-preserve-ratio--four-thirds.js-snippet
				img(src="https://picsum.photos/400/200", loading="lazy", alt="")
		.col-12.col-md-6
			h2 Video 16:9
			.o-preserve-ratio.js-snippet
				iframe(src="https://www.youtube.com/embed/3LxyRuZxs2w?rel=0&amp;showinfo=0", title="youtube iframe test")
		.col-12
			h2 16:9
			.o-preserve-ratio.js-snippet
				img(src="https://picsum.photos/1920", srcset="https://picsum.photos/768 768w, https://picsum.photos/1200 1200w, https://picsum.photos/1920 1920w", sizes="(min-width: 768px) 75vw, 100vw" loading="lazy", alt="")

