@if $enable-badge {
	.badge {
		display: inline-block;
		padding: 0.35em 0.65em;
		border-radius: rem(4px);
		font-size: rem(12px);
		font-weight: $semibold;
		line-height: 1;
		text-align: center;
		white-space: nowrap;
		vertical-align: baseline;
		color: #fff;

		@each $name, $color in($main-colors) {
			&--#{$name} {
				background-color: var(--color-#{$name});
			}
		}

		&--light {
			background-color: var(--color-lightgrey);
			color: var(--color-darkgrey);
		}

		&--dark {
			background-color: var(--color-black);
			color: #fff;
		}

		&:empty {
			display: none;
		}

		&--pill {
			border-radius: 10rem;
		}

		&--abs {
			--s: #{rem(22px)};
			position: absolute;
			top: calc(var(--s) * -0.45);
			right: calc(var(--s) * -0.45);
			display: flex;
			align-items: center;
			justify-content: center;
			width: var(--s);
			height: var(--s);
			padding: 0;
			border-radius: 50%;
		}

		.icon {
			width: 0.75em;
		}
	}

}
