@if $enable-badge {
	
	// Base class
	//

	.c-badge {
		display: inline-block;
		padding: .35em .65em;
		border-radius: rem(4px);
		font-size: rem(12px);
		font-weight: $semibold;
		line-height: 1;
		text-align: center;
		white-space: nowrap;
		vertical-align: baseline;
		color: #fff;

		// Colors
		//
		// Contextual variations (linked badges get darker on :hover).

		@each $name, $color in($main-colors) {
			&--#{$name} {
				background-color: var(--color-#{$name});
			}
		}

		// Empty badges collapse automatically
		&:empty {
			display: none;
		}

		// Pill badges
		//
		// Make them extra rounded with a modifier to replace v3's badges.
		&--pill {
			padding-right: 0.6em;
			padding-left: 0.6em;
			border-radius: 10rem;
		}

		&--abs {
			--s: #{rem(18px)};
			position: absolute;
			top: 0;
			right: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			width: var(--s);
			height: var(--s);
			padding: 0;
			border-radius: 50%;
			font-size: rem(12px);
			font-weight: $regular;
			transform: translate(25%, -25%);
		}

		.icon {
			width: 0.75em;
			height: 0.75em;
		}
	}

}
