@if $enable-breadcrumb {
	.breadcrumb {
		font-size: rem(12px);
		line-height: 1.25;

		@include medium {
			font-size: rem(14px);
			line-height: 1.5;
		}

		&__list {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 0;
		}

		&__item {
			display: inline-flex;
			align-items: center;
			padding-top: 0.2em;
			padding-bottom: 0.2em;

			&:not(:first-child) {
				margin: 0;

				&::before {
					content: '';
					display: inline-block;
					width: 0;
					height: 0;
					border-width: 0.2em 0 0.2em 0.4em;
					border-style: solid;
					border-color: transparent transparent transparent var(--color-black);
					margin-right: 1em;
					opacity: var(--o, 0.25);
				}
			}

			&:not(:last-child) {
				padding-right: 1em;
			}

			&:last-child {
				--o: 0.5;
				color: var(--color-black);
			}
		}

		&__icon {
			margin-right: 0.75em;
			opacity: 0.5;
		}
	}
}
