@if $enable-button {

	$button-line-height: 1.25;

	/**
	 * Base
	 */
	.c-btn {
		--px: 1em;
		--py: calc(var(--px) / 2);
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: var(--py) var(--px);
		border: 1px solid var(--btn-border-color, var(--btn-background));
		border-radius: 0.235em;
		font-size: 1rem;
		line-height: $button-line-height;
		text-decoration: none;
		vertical-align: middle;
		cursor: pointer;
		background-color: var(--btn-background);
		user-select: none;
		transition-property: opacity, color, border-color, background-color, box-shadow;
		transition-timing-function: ease;
		transition-duration: 0.2s;
		-webkit-tap-highlight-color: transparent;
		outline: none;

		&:hover { text-decoration: none }

		&:focus-visible,
		&:active {
			box-shadow: 0 0 0 0.3rem var(--btn-outline-color);
		}

		/**
		 * Expanded
		 */
		&--block {
			width: 100%;
		}

		/**
		 * Colors
		 */
		@each $name, $color in($main-colors) {
			&--#{$name} {
				--btn-background: var(--color-#{$name});
				color: #fff;

				&:hover {
					--btn-background: var(--color-#{$name}-dark);
					color: #fff;
				}

				&:focus-visible,
				&:active {
					--btn-outline-color: var(--color-#{$name}-lightest);
				}
			}
		}

		&--white {
			--btn-background: #fff;
			color: var(--color-primary);

			&:hover {
				--btn-background: var(--color-primary-lightest);
				color: var(--color-primary-dark);
			}

			&:focus-visible,
			&:active {
				--btn-outline-color: var(--color-lightgrey);
			}
		}

		&--light {
			--btn-background: var(--color-lightgrey);
			color: var(--color-black);

			&:hover {
				--btn-background: var(--color-darkgrey);
				color: #fff;
			}

			&:focus-visible,
			&:active {
				--btn-outline-color: var(--color-grey);
			}
		}

		&--dark {
			--btn-background: var(--color-black);
			color: #fff;

			&:hover {
				--btn-background: var(--color-darkgrey);
				color: #fff;
			}

			&:focus-visible,
			&:active {
				--btn-outline-color: var(--color-grey);
			}
		}

		&--transparent {
			--btn-background: transparent;
			color: var(--color-black);

			&:hover {
				--btn-background: var(--color-lightgrey);
				color: var(--color-black);
			}

			&:focus-visible,
			&:active {
				--btn-outline-color: var(--color-grey);
			}
		}

		&--outline {
			--btn-border-color: var(--btn-background);
			background-color: transparent;
			color: var(--btn-background);

			&:hover {
				background-color: var(--btn-background);
				color: #fff;
			}
		}

		/**
		 * Disabled
		 */
		&[disabled],
		&.disabled,
		form:invalid &[type="submit"] {
			opacity: 0.5;
			cursor: not-allowed;
		}

		/**
		 * With an icon + text
		 * With only an icon
		 */
		.icon {
			--h: calc(#{$button-line-height} * 1em);
			--w: 0.75em;
			flex: 0 0 auto;
			width: var(--w);
			height: var(--h);
			transition: transform 0.2s;

			&:first-child { margin-right: var(--px) }

			&:last-child { margin-left: var(--px) }

			&:only-child {
				--w: var(--h);
				padding: 0 calc(var(--py) / 2);
				margin-right: calc(var(--px) * -0.5);
				margin-left: calc(var(--px) * -0.5);
			}
		}

		/**
		 * Differents sizes
		 */
		&--small { font-size: 0.75rem }

		&--large { font-size: 1.25rem }

		/**
		 * Rounded corners
		 */
		&--rounded { border-radius: 10em }		
	}
}
