.c-color-tone {
	--s: #{rem(32px)};
	--m: #{rem(4px)};
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
	width: calc(var(--s) * 2 + var(--m) * 4);
	margin: 0 auto calc(var(--spacing) - var(--m));


	+ div {
		margin-left: auto;
		margin-right: auto;
	}

	span {
		width: var(--s);
		height: var(--s);
		margin-bottom: var(--m);
		margin: 0 var(--m) var(--m);
		border: rem(2px) solid #fff;
		border-radius: 50%;
		box-shadow: 0 rem(2px) rem(8px) rgba(#000, 0.12);
		background-color: var(--c, #fff);

		&:not([style]) {
			display: inline-flex;
			align-items: center;
			justify-content: center;

			&::before {
				content: '?';
				font-size: rem(13px);
				font-weight: $semibold;
			}
		}
	}
}
