@if $enable-panel {
	.panel {
		--s: var(--sp);
		position: relative;
		padding: var(--s);
		border: rem(1px) solid var(--border-color, currentColor);
		border-left: rem(3px) solid var(--border-color, currentColor);
		border-radius: 0.235em;
		overflow: hidden;
		background-color: var(--bg);
		color: var(--color, var(--color-black));

		@each $name, $color in($main-colors) {
			&--#{$name} { 
				--bg: var(--color-#{$name}-lightest);
				--color: var(--color-#{$name}-dark);

				hr {
					border-bottom-color: var(--color-#{$name}-light);
				}
			}
		}

		&--white {
			--bg: #fff;
			--border-color: var(--color-grey);
		}

		&--light {
			--bg: var(--color-lightgrey);
		}

		&--dark {
			--bg: var(--color-black);
			--color: #fff;
			--border-color: var(--color-black);
		}

		&--closable {
			padding-right: calc(var(--s) * 3);

			&:not(.is-active) {
				display: none;
			}
		}

		a {
			color: inherit;

			&:not(.btn):hover {
				outline-color: currentColor;
				outline-style: dotted;
				outline-width: rem(2px);
			}
		}

		&__title {
			margin-bottom: var(--s);
			color: inherit;
		}

		&__close {
			position: absolute;
			top: rem(2px);
			right: rem(2px);
			border: 0;

			&:active,
			&:focus-visible {
				outline: auto;
			}
		}
	}

}
