.c-style {
	--p: var(--spacing);
	--title-pr: 0;
	--rad: #{rem(8px)};
	transition: box-shadow 0.2s;

	@include medium {
		--p: #{rem(24px)};
	}

	&--selectable {
		position: relative;

		@include large {
			--title-pr: #{rem(42px)};
		}

		[type=radio] {
			--size: #{rem(28px)};
			--background: var(--color-secondary-lightest);
			--check-bc: #fff;
			--check-bw: #{rem(3px)};
			position: absolute;
			bottom: calc(var(--p) / 2);
			left: calc(var(--p) / 2);
			border: 0;

			@include large {
				--size: var(--title-pr);
				bottom: auto;
				left: auto;
				top: calc(var(--p) / 2);
				right: calc(var(--p) / 2);
			}

			&.focus-visible {
				+ * {
					box-shadow: 0 0 0 rem(4px) var(--color-secondary-lightest);
				}
			}

			&:checked {
				--check-bc: #fff;

				+ * {
					box-shadow: 0 0 0 rem(4px) var(--color-secondary);
				}

				&.focus-visible {
					+ * {
						box-shadow: 0 0 0 rem(4px) var(--color-secondary-dark);
					}
				}
			}
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		padding: var(--p);
		border-radius: var(--rad);
		background-color: #fff;
		box-shadow: 0 rem(2px) rem(8px) rgba(#000, 0.08);
		transition: box-shadow 0.2s;

		@include large {
			height: var(--h, auto); 
		}

		&--empty {
			display: flex;
			padding: 0;
			box-shadow: none;

			@include medium {
				min-height: var(--principal-style-height);
			}

			@include large {
				min-height: var(--principal-style-height);
			}
		}
	}

	&__head {
		display: grid;
		grid-gap: var(--p);
		grid-template-columns: 1fr 1.25fr;
		grid-template-rows: min-content 1fr;
		margin-bottom: var(--p);

		@include small-plus {
			grid-template-columns: rem(180px) 1fr;
		}

		@include large {
			grid-template-columns: rem(200px) 1fr;
		}
	}

	&__img {
		grid-row: 1 / span 2;
		border-radius: var(--rad);

		@include small-plus {
			grid-row-end: span 3;
		}
	}

	&__title {
		padding-right: var(--title-pr);
		margin: 0;
		font-size: rem(21px);

		@include large {
			font-size: rem(24px);
		}
	}

	&__subtitle {
		margin: 0;
		line-height: 1;
		font-size: rem(21px);

		@include large {
			font-size: rem(28px);
		}
	}

	&__colors {
		--s: #{rem(24px)};
		grid-column-start: 1;
		grid-column-end: -1;
		display: flex;
		flex-wrap: wrap;

		@include small-plus {
			grid-column-start: 2;
		}

		@include large {
			--s: #{rem(32px)};
		}

		> span {
			width: var(--s);
			height: var(--s);
			margin-right: rem(2px);
			margin-bottom: rem(2px);
			border: rem(2px) solid #fff;
			border-radius: 50%;
			box-shadow: 0 rem(2px) rem(8px) rgba(#000, 0.08);
			background-color: var(--c);
			background-image: var(--bg);
			background-size: cover; 
		}
	}

	[data-modal-id] {
		flex: 1 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding: calc(var(--p) * 4) var(--p);
		border: rem(4px) dashed var(--color-lightgrey);
		border-radius: inherit;
		font-size: rem(14px);
		font-weight: $semibold;
		text-decoration: underline;
		box-shadow: none;
		background-color: transparent;
		outline: none;
		cursor: pointer;
		transition: border-color 0.2s;

		@include medium {
			padding: var(--p);
		}

		.icon {
			margin-bottom: var(--spacing);
			font-size: 4.6em;
			color: var(--color-primary);
		}

		&:hover,
		&.focus-visible {
			border-color: var(--color-primary);
		}
	}
}