@if $enable-blockquote {
	blockquote {
		margin: 0 calc(#{$text-margin-bottom} * 2) $text-margin-bottom;
		quotes: '\0022' '\0022';

		&:last-child {
			margin-bottom: 0;
		}

		&::before {
			content: open-quote;
		}

		&::after {
			content: close-quote;
		}
	}
}
