@if $enable-lists {
	ol {		
		li {
			&::marker {
				font-weight: $bold;
			}
		}
	}  

	ul,
	ol {
		list-style-position: inside;
		margin: 0 0 $text-margin-bottom;
		padding-left: 0;

		ul,
		ol {
			margin-bottom: 0;
			margin-top: 0;
			padding-left: var(--spacing);
		}

		li {
			margin: var(--spacing-quarter) 0;
		}
	}

	.list-unstyled {
		list-style: none;

		ul,
		ol {
			list-style: none;
			margin-top: 0;
			padding-left: 0;
		}
	}
}