@if $enable-lists {
	ol {		
		li {
			&::marker {
				font-weight: $bold;
			}
		}
	}  

	ul,
	ol {
		padding-left: 0;
		margin: 0 0 $text-margin-bottom;
		list-style-position: inside;

		ul,
		ol {
			padding-left: var(--sp);
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	.list-unstyled {
		list-style: none;

		ul,
		ol {
			padding-left: 0;
			margin-top: 0;
			list-style: none;
		}
	}
}
