section.section.js-menu#Colors-contrast
	.row
		.col-12
			h1.section__title Colors
		.col-12
			p Utiliser les DevTools pour contrôler le contrast des couleurs de texte vis-à-vis de celles de leurs fonds. 
			img(src="dest/img/misc/colors-contrast.jpg", alt="")
