section.section.js-menu#Iframe
	.row
		.col-12
			h1.section__title Iframe
		.col-12
			p Pour les <code>iframe</code> dont le contenu est destiné à être consulté :
			.u-bg-lightgrey.u-p 
				ul
					li Fournir un titre avec l'attribut <code>title</code>.
		.col-12
			p Pour les <code>iframe</code> dont le contenu n'est pas destiné à être consulté :
			.u-bg-lightgrey.u-p 
				ul
					li Ajouter <code>aria-hidden="true"</code> et <code>tabindex="-1"</code>.