section.section.js-menu#Iframe
	.row
		.col-12
			h3.section__title Iframe
		.col-12
			p For <code>iframe</code> whose content is intended to be viewed :
			.bg-grey-lightest.p 
				ul
					li Provide a <code>title</code> attribute.
		.col-12
			p For <code>iframe</code> whose content is not intended to be viewed :
			.bg-grey-lightest.p 
				ul
					li Add <code>aria-hidden="true"</code> and <code>tabindex="-1"</code>.