section.section.js-menu#Figures
	.row
		.col-12
			h3.section__title Images &amp; captions
		.col-12
			p Watch out : <a href="https://github.com/DISIC/rgaa_referentiel/issues/53" target="_blank">https://github.com/DISIC/rgaa_referentiel/issues/53</a>.
	.row.js-parent-snippet
		.col-12.mb-0
			figure(role="group", aria-label="Figure 1 : figcaption content", class="js-snippet")
				img(src="dest/img/holy-placeholder.jpg", loading="lazy", alt="Figure 1")
				figcaption(aria-hidden="true", id="fig1")
					span.sr-only Figure 1 :
					|  figcaption content
				