section.section.js-menu#Images
	.row
		.col-12
			h3.section__title Images
		.col-12
			h4 Informative images
			p Provide a textual alternative with <code>alt</code> (Do not forget ".").
		.col-12
			h4 Decorative images
			p Add <code>alt=""</code>.
	.row.js-parent-snippet
		.col-12
			h4 Img as a link
			a(href="#").js-snippet
				img(src="dest/img/holy-placeholder.jpg", loading="lazy", alt="Text accessible link")
	.row.js-parent-snippet
		.col-12
			h4 Img as a link with visible link text
			a(href="#").js-snippet
				img(src="dest/img/holy-placeholder.jpg", loading="lazy", alt="")
				span.d-block Text accessible link
	.row.js-parent-snippet
		.col-12
			h4 Logo as a link in h1
			h1.js-snippet
				a(href="#")
					span.sr-only Website name, short desc
					img(src="dest/img/holy-placeholder.jpg", loading="lazy", alt="")