section.section.js-menu#Menu
	.row
		.col-12
			h1.section__title Main menu
		.col-12
			p Ajouter <code>aria-current="page"</code> sur le lien courant et <code>aria-current="true"</code> sur les ancêtres du lien courant.