$assets-base-path: '../../../';

@import '../../abstracts';

.new-simulation {
	--out-p: var(--spacing-half);
	padding: var(--out-p);
	background-color: #fff;

	@include medium {
		display: flex;
		flex-wrap: wrap;
	}

	@include large {
		display: flex;
		flex-wrap: nowrap;
	}

	> div {
		&:nth-child(1) {
			width: 100%;
			padding: var(--spacing) var(--spacing) calc(var(--spacing) + var(--out-p));

			@include large {
				flex: 0 0 auto;
				width: auto;
				padding-top: calc(var(--spacing) + var(--out-p));
				padding-left: calc(var(--spacing-double) - var(--out-p));
				padding-right: calc(var(--spacing) + var(--out-p));
			}
		}

		&:nth-child(2) {
			width: 100%;
			padding: calc(var(--spacing) + var(--out-p)) var(--spacing) calc(var(--spacing) + var(--out-p));

			@include medium {
				width: 66.66%;
				padding-right: calc(var(--spacing) + var(--out-p));
				border-bottom-left-radius: var(--radius);
			}

			@include large {
				--arrow-w: #{rem(50px)};
				position: relative;
				width: auto;
				padding-left: calc(var(--spacing-double) + var(--arrow-w));
				border-bottom-left-radius: 0;

				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: var(--arrow-w);
					height: 100%;
					clip-path: polygon(100% 50%, 0 0, 0 100%);
					background-color: #fff;
				}
			}
		}
	}

	&__photo {
		display: block;
		width: 100%;
		padding: 0;
		border-bottom-left-radius: var(--radius);
		border-bottom-right-radius: var(--radius);
		overflow: hidden;

		@include medium {
			width: 33.33%;
			border-radius: 0 var(--radius) var(--radius) 0;
		}

		@include large {
			flex: 0 0 auto;
			width: 20%;
		}

		a {
			transition: transform 0.2s, opacity 0.2s;

			&.focus-visible,
			html.not-touch &:hover {
				opacity: 0.8;
				transform: scale(1.1);
			}
		}
	}
}