@if $enable-accordion { 
	.accordion {
		--p: var(--sp);
		--bb: 1px solid;
		--bb-c: var(--color-grey-light);

		&:not([role='tablist']) {
			visibility: hidden;

			> * {
				position: relative;

				&::after {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					visibility: visible;
					background-color: var(--color-grey-lightest);
					background-image: linear-gradient(to left, transparent, var(--color-grey-light), transparent);
					background-repeat: no-repeat;
					background-size: 50% auto;
					animation: placeholder 1s infinite linear;
				}
			}
		}

		&__title {
			margin: 0;

			&:last-of-type {
				--bb-c: transparent;
			}

			.btn {
				--i: 0;
				--px: var(--p);
				--py: var(--p);
				justify-content: space-between;
				width: 100%;
				border-bottom: var(--bb) var(--bb-c);
				border-radius: 0;
				text-align: left;
				@extend .btn--transparent;
				@extend .btn--large;

				&[aria-expanded='true'] {
					--i: 1;
					--bb-c: transparent;
					color: var(--color-primary);
				}

				* {
					pointer-events: none;
				}
			}
		}

		&__panel {
			padding: var(--p) var(--p) calc(var(--p) * 2);

			&:not(:last-of-type) {
				border-bottom: var(--bb) var(--bb-c);
			}

			&[aria-hidden='true'] {
				display: none;
			}
		}

		&__icon {
			transform: rotate(calc(180deg * var(--i)));
		}
	}
}
