.p-hero {
	position: relative;
	padding: var(--spacing-triple) 0;

	@include medium {
		padding: calc(var(--spacing-quad) * 1.25) 0;
	}

	&--fullscreen {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100vh;
		margin-top: calc(var(--header-height) * -1);
		padding: calc(var(--header-height) + var(--spacing-double)) 0 var(--spacing-double);

		@include medium {
			padding: calc(var(--header-height) + var(--spacing-quad)) 0 var(--spacing-quad);
		}
	}

	&--with-breadcrumb {
		padding: calc(#{$text-line-height} * 1rem + var(--spacing-double)) 0 var(--spacing-triple);
	}

	&--fullscreen-with-breadcrumb {
		padding: calc(var(--header-height) + (#{$text-line-height} * 1rem) + var(--spacing-triple)) 0 var(--spacing-double);

		@include medium {
			padding: calc(var(--header-height) + (#{$text-line-height} * 1rem) + var(--spacing-quad)) 0 var(--spacing-quad);
		}
	}

	&::after {
		content: '';
		position: absolute 0;
		background-color: rgba(#000, var(--o, 0.6));
		pointer-events: none;
	}

	&__background {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__content {
		position: relative;
		z-index: 1;
		color: #fff;
		text-align: center;
	}
}