@if $enable-modal {
	.modal-is-open { 
		overflow: hidden;

		.not-touch & {
			padding-right: var(--scrollbar-width);
		}
	}

	.modal {
		--p: var(--sp);
		--section-p: var(--p);
		--body-border: 1px solid var(--color-lightgrey);
		position: fixed;
		top: 0;
		left: 0;
		z-index: var(--z-max);
		align-items: flex-start;
		justify-content: center;
		width: 100%;
		height: 100%;
		padding: var(--p);
		border: 0;
		overflow-x: hidden;
		overflow-y: auto;
		background-color: rgba(#000, 0.85);

		&:not([open]) {
			display: none;
		}

		&[open] {
			display: flex;
			animation: fade-in 0.3s both;
		}

		&.is-hiding {
			animation-name: fade-out;
		}

		&__dialog {
			position: relative;
			max-width: 100%;
			border-radius: var(--radius);
			overflow: hidden;
			background-color: #fff;
			animation: translate-from-top 0.3s both;

			.is-hiding > & {
				animation-name: translate-to-bottom;
			}

			&--small {
				width: 100%;
				max-width: $small-screen;
			}

			&--medium {
				width: 100%;
				max-width: $medium-screen;
			}

			&--large {
				width: 100%;
				max-width: $large-screen;
			}

			&--large-plus {
				width: 100%;
				max-width: $large-plus-screen;
			}

			&--viewport {
				display: flex;
				max-height: 100%;
			}

			&--lightbox {
				--section-p: 0;
				--header-position: absolute;
				--body-border: none;
				overflow: visible;
				background-color: transparent;
				pointer-events: none;

				img {
					display: block;
					width: auto;
					max-height: 100%;
					margin: auto;
					border-radius: var(--radius);
					pointer-events: auto;
				}
			}
		}

		&__content {
			position: relative;
			display: flex;
			flex-direction: column;
			width: 100%;
			max-height: 100%;
		}

		&__header {
			position: var(--header-position);
			top: 0;
			left: 0;
			display: flex;
			flex: 0 0 auto;
			align-self: flex-start;
			width: 100%;
			padding: var(--p);
		}

		&__title {
			@include heading(4);
			align-self: center;
			margin-right: var(--sp);
			margin-bottom: 0;
		}

		&__body {
			width: 100%;
			padding: var(--section-p);
			border-top: var(--body-border);
			border-bottom: var(--body-border);
			overflow-y: auto;
		}

		&__footer {
			display: flex;
			flex: 0 0 auto;
			flex-direction: column;
			justify-content: center;
			width: 100%;
			padding: 0 var(--section-p) var(--section-p);

			@include small {
				flex-direction: row;
			}

			> * {
				width: 100%;
				margin-top: var(--sp);

				@include small {
					width: auto;
					margin-right: var(--sp-1-2);
					margin-left: var(--sp-1-2); 
				}
			}
		}

		&__close {
			margin-left: auto;
			pointer-events: auto;
		}
	}

}
