@if $enable-modal {

	.modal-is-open { 
		overflow: hidden;

		.not-touch & {
			padding-right: var(--scrollbar-width);
		}
	}

	.p-modal {
		--spacing-modal-close: calc(var(--spacing) * -1);
		position: fixed;
		top: 0;
		left: 0;
		z-index: var(--z-max);
		align-items: flex-start;
		justify-content: center;
		width: 100%;
		height: 100vh;
		//padding-right: 0 !important;
		background-color: rgba(#000, 0.8); 
		overflow-x: hidden;
		overflow-y: auto;

		&[open] {
			display: flex;
			animation: o-fade-in 0.3s both;
		}

		&.is-hiding {
			animation-name: o-fade-out;
		}

		&__dialog {
			position: relative;
			width: 100%;
			max-width: calc(100% - (var(--spacing) * 2));
			margin: var(--spacing);
			border-radius: 0.3rem;
			overflow: hidden;
			animation: o-translate-from-top 0.3s both;

			.is-hiding > & {
				animation-name: o-translate-to-bottom;
			}

			&--small {
				max-width: calc(#{$small-plus-screen} - (var(--spacing) * 2));
			}

			&--medium {
				max-width: calc(#{$medium-screen} - (var(--spacing) * 2));
			}

			&--large {
				max-width: calc(#{$large-screen} - (var(--spacing) * 2));
			}

			&--large-plus {
				max-width: calc(#{$large-plus-screen} - (var(--spacing) * 2));
			}
		}

		&__content {
			position: relative;
			background-color: #fff;
		}

		&__header {
			display: flex;
			align-self: flex-start;
			justify-content: space-between;
			padding: var(--spacing);
		}

		&__title {
			@include heading(4);
			align-self: center;
			margin-bottom: 0;
			margin-right: var(--spacing);
		}

		&__body {
			padding: var(--spacing);
			border-top: 1px solid var(--color-lightgrey);
			border-bottom: 1px solid var(--color-lightgrey);
		}

		&__footer {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 0 var(--spacing) var(--spacing);

			@include small-plus {
				flex-direction: row;
			}

			> * {
				width: 100%;
				margin-top: var(--spacing);

				@include small-plus {
					width: auto;
					margin-left: var(--spacing-half); 
					margin-right: var(--spacing-half); 
				}
			}
		}
	}

}