@if $enable-offcanvas {
	.offcanvas-is-open { 
		overflow: hidden;

		.not-touch & {
			padding-right: var(--scrollbar-width);
		}
	}

	.p-offcanvas {
		--w: #{rem(300px)};
		--i: -1;
		--wrap-p: var(--sp);
		--title-mr: var(--sp);
		position: fixed;
		top: 0;
		left: 0;
		z-index: var(--z-offcanvas);
		display: none;
		width: 100%;
		height: 100vh;
		background-color: rgba(#000, 0.85);

		@include small {
			--w: #{rem(500px)};
		}

		&.is-active {
			--wrap-anim: reveal-on-offcanvas 0.3s forwards;
			display: block;
			animation: o-fade-in 0.3s;
		}

		&.is-hiding {
			--wrap-anim: reveal-off-offcanvas 0.3s;
			animation: o-fade-out 0.3s;
		}

		&--right {
			--i: 1;
			--ml: auto;
		}

		&--mq {
			@include medium {
				--w: auto;
				--ml: 0;
				--wrap-anim: none !important;
				--close-display: none;
				--wrap-p: 0;
				--title-mr: 0;
				position: static;
				display: block;
				height: auto;
				background-color: transparent;
				animation-duration: 0.001s !important;
			}
		}

		&__wrap {
			width: var(--w);
			height: 100%;
			margin-left: var(--ml);
			padding: var(--wrap-p);
			overflow-y: auto;
			background-color: #fff;
			animation: var(--wrap-anim);
		}

		&__header {
			display: flex;
			align-self: flex-start;
			margin-bottom: var(--sp);
		}

		&__title {
			@include heading(4);
			align-self: center;
			margin-right: var(--title-mr);
			margin-bottom: 0;
		}

		&__close {
			display: var(--close-display);
			margin-left: auto;
		}
	}

	@keyframes reveal-on-offcanvas {
		from {
			transform: translateX(calc(100% * var(--i)));
		}

		to {
			transform: none;
		}
	}

	@keyframes reveal-off-offcanvas {
		from {
			transform: none;
		}

		to {
			transform: translateX(calc(100% * var(--i)));
		}
	}

}
