@mixin track() {
  width: 100%;
  height: var(--h);
  border: 0;
  box-shadow: none;
  background: var(--range-bg, var(--color-grey-lightest));
  cursor: pointer;
}

@mixin thumb() {
  height: calc(var(--h) * 2);
  width: calc(var(--h) * 2);
  border: 0;
  margin-top: calc(var(--h) * -.5);
  box-shadow: none;
  border-radius: 50%;
  background: var(--color-primary);
  cursor: pointer;
  appearance: none;
  pointer-events: auto;
}

@mixin thumb-focus() {
	outline: auto;
	outline-offset: 4px;
}

@if $enable-range {
	.range {
		--h: #{rem(7px)};

		&__wrap {
			--range-bg: transparent;
			position: relative;
			display: grid;
			grid-template: auto auto / 1fr 1fr;

			&::before {
				content: '';
				position: absolute;
				left: 0;
				bottom: calc(var(--h) / 2);
				width: 100%;
				height: var(--h);
				background-color: var(--color-grey-lightest);
			}
		}

		&__input {
			position: relative;
			grid-column: 1 / span 2;
			grid-row: 2;
			pointer-events: none;
		}

		&__output {
			&::after {
				content: counter(val);
				counter-reset: val var(--val);
			}

			&--multi {
				margin-bottom: 0.5rem;

				&:last-of-type {
					text-align: right;
				}
			}
		}

	}

	input[type=range] {
		width: 100%;
		height: calc(var(--h) * 2);
		background-color: transparent;
		appearance: none;
		outline: none;

		&::-webkit-slider-runnable-track { @include track; }
		&::-moz-range-track { @include track; }
		
		&::-webkit-slider-thumb { @include thumb; }
		&::-moz-range-thumb { @include thumb; }
		
		&:focus::-webkit-slider-thumb { @include thumb-focus; }
		&:focus::-moz-range-thumb { @include thumb-focus; }
	}

}