@import '../02-vendors/tiny-slider';

@if $enable-slider {

	@include tns;
   
	.slider {
		--dot-size: #{rem(30px)};
		--dot-m: #{rem(4px)};
		--dot-container-mt: calc(var(--sp) - var(--dot-m));
		position: relative;
		//display: none;

		&__controls {
			position: absolute;
			top: calc(50% - var(--dot-container-mt) / 2 - var(--dot-size) / 2 - var(--dot-m));
			right: 0;
			left: 0;
			display: flex;
			justify-content: space-between;
			pointer-events: none;
			transform: translateY(-50%);
		}

		&__control {
			pointer-events: auto;
		}

		&__content {
			display: flex;
		} 

		.tns-nav {
			$outline-width: 4px;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin: var(--dot-container-mt) 0 calc(var(--dot-m) * -1);

			button {
				box-sizing: content-box;
				width: calc(var(--dot-size) / 2);
				height: calc(var(--dot-size) / 2);
				padding: calc(var(--dot-size) / 4);
				border: 0;
				margin: var(--dot-m);
				border-radius: 50%;
				background-color: var(--color-primary-lightest);
				background-clip: content-box;
				box-shadow: none;
				cursor: pointer;
				transition: background-color 0.2s;

				&:hover {
					outline: calc(var(--dot-m) / 2) dotted var(--color-primary);
				}
			}

			.tns-nav-active {
				background-color: var(--color-primary);
			}
		}
	}

}
