@if $enable-tabs {
	.tabs {
		&__list {
			display: inline-flex;
			border: rem(1px) solid var(--color-primary-light);
			margin-bottom: var(--sp);
			border-radius: var(--radius);
		}

		&__item {
			display: flex;
			flex: 1 1 auto;
			margin: 0;
			text-align: center;

			&:hover,
			&:focus-within {
				z-index: 1;
			}

			&:first-child {
				.btn {
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
				}
			}

			&:last-child {
				.btn {
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}
			}

			&:not(:first-child):not(:last-child) {
				.btn {
					border-radius: 0;
				}
			}
		}

		&__content {
			padding: var(--sp);
			background-color: var(--color-lightgrey);

			&[aria-hidden='true'] {
				display: none;
			}
		}
	}

}
