@mixin tooltip-default-values {
	--top: auto;
	--left: 50%;
	--bottom: var(--offset);
	--right: auto;
	--dir-y: 1;
	--dir-x: 0;
	--arrow-top: calc(100% - 1px);
	--arrow-left: var(--arrow-align);
	--arrow-bottom: auto;
	--arrow-right: auto;
	--arrow-dir: polygon(50% 50%, 0 0, 100% 0);
}

@mixin tooltip-top {
	+ .simpletooltip {
		@include tooltip-default-values;
	}
}

@mixin tooltip-bottom {
	+ .simpletooltip {
		--top: var(--offset);
		--left: 50%;
		--bottom: auto;
		--right: auto;
		--dir-y: 1;
		--dir-x: 0;
		--arrow-top: auto;
		--arrow-left: var(--arrow-align);
		--arrow-bottom: calc(100% - 1px);
		--arrow-right: auto;
		--arrow-dir: polygon(50% 50%, 0 100%, 100% 100%);
	}
}

@mixin tooltip-right {
	+ .simpletooltip {
		--top: 50%;
		--left: var(--offset);
		--bottom: auto;
		--right: auto;
		--dir-y: 0;
		--dir-x: 1;
		--arrow-top: var(--arrow-align);
		--arrow-left: auto;
		--arrow-bottom: auto;
		--arrow-right: calc(100% - 1px);
		--arrow-dir: polygon(50% 50%, 100% 0, 100% 100%);
	}
}

@mixin tooltip-left {
	+ .simpletooltip {
		--top: 50%;
		--left: auto;
		--right: var(--offset);
		--bottom: auto;
		--dir-y: 0;
		--dir-x: 1;
		--arrow-top: var(--arrow-align);
		--arrow-left: calc(100% - 1px);
		--arrow-bottom: auto;
		--arrow-right: auto;
		--arrow-dir: polygon(50% 50%, 0 0, 0 100%);
	}
}

@if $enable-tooltip {
	// stylelint-disable-next-line selector-class-pattern
	.simpletooltip_container { // class generated by van11y lib
		--arrow-size: #{rem(16px)};
		--bg: var(--color-black);
		position: relative;
		display: inline-block;

		p & {
			display: inline;
		}

		label + & {
			display: block;
		}
	}

	.tooltip {
		position: relative;

		+ .simpletooltip {
			@include tooltip-default-values;
			--offset: calc(100% + var(--arrow-size));
			--arrow-align: calc(50% - var(--arrow-size) / 2);
			position: absolute;
			top: var(--top);
			right: var(--right);
			bottom: var(--bottom);
			left: var(--left);
			z-index: 1;
			padding: 0.6em 0.8em;
			border-radius: var(--radius);
			font-size: rem(14px);
			line-height: 1.25;
			white-space: nowrap;
			background-color: var(--bg);
			color: #fff;
			opacity: 0;
			transform: translate(calc(-50% * var(--dir-y)), calc(-50% * var(--dir-x)));
			animation: fade-in 0.2s forwards;

			&::before {
				content: '';
				position: absolute;
				top: var(--arrow-top);
				right: var(--arrow-right);
				bottom: var(--arrow-bottom);
				left: var(--arrow-left);
				width: var(--arrow-size);
				height: var(--arrow-size);
				background-color: var(--bg);
				clip-path: var(--arrow-dir);
			}

			&[aria-hidden='true'] {
				display: none;
			}
		}

		p & {
			border-bottom: 1px dotted var(--color-primary);
			text-decoration: none;
			cursor: help;
		}

		/**
		 * Others directions
		 */

		@if $enable-tooltip-bottom {
			&--bottom {
				@include tooltip-bottom;
			}
		}

		@if $enable-tooltip-left {
			&--left {
				@include tooltip-left;
			}
		}

		@if $enable-tooltip-right {
			&--right {
				@include tooltip-right;
			}
		}

		/**
		 * Responsive
		 */

		@if $enable-tooltip-top-mq {
			@include medium {
				&--top-mq {
					@include tooltip-top;
				}
			}
		}

		@if $enable-tooltip-bottom-mq {
			@include medium {
				&--bottom-mq {
					@include tooltip-bottom;
				}
			}
		}

		@if $enable-tooltip-left-mq {
			@include medium {
				&--left-mq {
					@include tooltip-left;
				}
			}
		}

		@if $enable-tooltip-right-mq {
			@include medium {
				&--right-mq {
					@include tooltip-right;
				}
			}
		}

		/**
		 * Block Text (no force nowrap)
		 */

		&--block {
			+ .simpletooltip {
				width: 15em;
				white-space: normal;
			}
		}
	}

}
